{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>CairoSVG</h2>
    <aside>
      <ul class="icons">
        <li class="github"><a href="https://github.com/Kozea/CairoSVG">Code</a></li>
        <li class="web"><a href="{{ url_for('page', page='projects/cairosvg') }}">Website</a></li>
        <li class="doc"><a href="https://cairosvg.org/documentation/">Doc</a></li>
        <li class="gitter"><a href="https://gitter.im/CourtBouillon/CairoSVG">Chat</a></li>
      </ul>
    </aside>

    <p class="presentation">
      Rendering vector images is rendering abstract lines, shapes and
      gradients. CairoSVG knows how to transform SVG files into common image or
      document formats: PNG, PDF, PS, and even SVG!
    </p>

    <section>
      <h3>The Power of Vector Images</h3>
      <img src="{{ url_for('static', filename='images/power.jpg') }}" />
      <p>
      </p>
    </section>

    <section>
      <h3>Based on Universal Standards</h3>
      <img src="{{ url_for('static', filename='images/universal.jpg') }}" />
      <p>
      </p>
    </section>

    <section>
      <h3>Convert into your Favourite Formats</h3>
      <img src="{{ url_for('static', filename='images/colors.jpg') }}" />
      <p>
      </p>
    </section>
  </article>
{% endblock content %}
