{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>pydyf</h2>
    <aside>
      <ul class="icons">
        <li class="github"><a href="https://github.com/CourtBouillon/pydyf">Code</a></li>
        <li class="web"><a href="{{ url_for('page', page='projects/pydyf') }}">Website</a></li>
        <li class="gitter"><a href="https://gitter.im/CourtBouillon/pydyf">Chat</a></li>
      </ul>
    </aside>

    <p class="presentation">
    </p>

    <section>
      <h3>Master your PDF Creation</h3>
      <img src="{{ url_for('static', filename='images/pottery.jpg') }}" />
      <p>
      </p>
    </section>

    <section>
      <h3>Based on a Strong Standard</h3>
      <img src="{{ url_for('static', filename='images/rock.jpg') }}" />
      <p>
      </p>
    </section>

    <section>
      <h3>100% Pure Python</h3>
      <img src="{{ url_for('static', filename='images/water.jpg') }}" />
      <p>
        Don’t spend your time dealing with extra dependencies and versions
        mismatches… pydyf is a very small library, written pure Python. That’s
        why it’s easy to install, easy to use, and easy to maintain.
      </p>
    </section>
  </article>
{% endblock content %}
