{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>pydyf</h2>
    <p>A low-level PDF creator</p>

    <aside>
      <li><a href="https://github.com/CourtBouillon/pydyf">View code on GitHub</a></li>
      <li><a href="https://gitter.im/CourtBouillon/pydyf">Chat on Gitter</a></li>
    </aside>

    <section>
      <h3>Presentation</h3>
      <p>
        pydyf is a low-level library providing explicit objects and functions
        to create PDF documents from scratch.
      </p>
    </section>

    <section>
      <h3>Features</h3>
      <ul>
        <li>Pure Python library with no dependencies</li>
        <li>Very low-level interface following the PDF specification</li>
        <li>Licensed under BSD</li>
      </ul>
    </section>

    {% include '_support.jinja2' %}
  </article>
{% endblock content %}
