{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>pydyf</h2>
    <aside>
      <ul class="icons">
        <li class="github"><a href="https://github.com/CourtBouillon/pydyf">Code</a></li>
        <li class="web"><a href="{{ url_for('page', page='projects/pydyf') }}">Website</a></li>
        <li class="gitter"><a href="https://gitter.im/CourtBouillon/pydyf">Chat</a></li>
      </ul>
    </aside>

    <p>A low-level PDF creator</p>

    <section>
      <h3>Presentation</h3>
      <p>
        pydyf is a low-level library providing explicit objects and functions
        to create PDF documents from scratch.
      </p>
    </section>

    <section>
      <h3>Features</h3>
      <ul>
        <li>Pure Python library with no dependencies</li>
        <li>Very low-level interface following the PDF specification</li>
        <li>Licensed under BSD</li>
      </ul>
    </section>

    {% include '_support.jinja2' %}
  </article>
{% endblock content %}
