{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>tinycss2</h2>
    <aside>
      <ul class="icons">
        <li class="github"><a href="https://github.com/Kozea/tinycss2">Code</a></li>
        <li class="web"><a href="{{ url_for('page', page='projects/tinycss2') }}">Website</a></li>
        <li class="doc"><a href="https://tinycss2.readthedocs.io/">Doc</a></li>
        <li class="gitter"><a href="https://gitter.im/CourtBouillon/tinycss2">Chat</a></li>
      </ul>
    </aside>

    <p>A tiny CSS parser</p>

    <section>
      <h3>Presentation</h3>
      <p>
        tinycss2 is a low-level CSS parser and generator written in Python: it
        can parse strings, return objects representing tokens and blocks, and
        generate CSS strings corresponding to these objects.
      </p>
      <p>
        Based on the CSS Syntax Level 3 specification, tinycss2 knows the
        grammar of CSS but doesn’t know specific rules, properties or values
        supported in various CSS modules.
      </p>
    </section>

    <section>
      <h3>Features</h3>
      <ul>
        <li>Pure Python library</li>
        <li>Designed to be simple and to follow the specifications</li>
        <li>Licensed under BSD</li>
      </ul>
    </section>

    {% include '_support.jinja2' %}
  </article>
{% endblock content %}
