{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>WeasyPrint</h2>
    <aside>
      <ul class="icons">
        <li class="github"><a href="https://github.com/Kozea/WeasyPrint">Code</a></li>
        <li class="web"><a href="{{ url_for('page', page='projects/weasyprint') }}">Website</a></li>
        <li class="doc"><a href="https://weasyprint.readthedocs.io/">Doc</a></li>
        <li class="gitter"><a href="https://gitter.im/CourtBouillon/WeasyPrint">Chat</a></li>
      </ul>
    </aside>

    <p class="presentation">
      WeasyPrint is a smart solution helping people to create PDF
      documents. You can generate gorgeous statistical reports, invoices,
      tickets, and anything you want as long as you have some webdesign skills!
    </p>

    <section>
      <h3>Based on Universal Web Technologies</h3>
      <img src="{{ url_for('static', filename='images/earth.jpg') }}" />
      <p>
        Design your documents just as you design your websites! WeasyPrint
        follows the widely used HTML and CSS specifications from the W3C. You
        can use your usual web tools, languages and frameworks… but for print.
      </p>
    </section>

    <section>
      <h3>Powerful PDF Output</h3>
      <img src="{{ url_for('static', filename='images/rocket.jpg') }}" />
      <p>
        Creating high-quality digital documents requires features that you love
        to use as readers: tables of contents, links, annotations, optimized
        images, attachments… WeasyPrint provides many features out of the box,
        and even gives you the possibility to add your own ways to customize
        your PDF files.
      </p>
    </section>

    <section>
      <h3>Beautiful Texts and Fonts</h3>
      <img src="{{ url_for('static', filename='images/typo.jpg') }}" />
      <p>
        Digital fonts are finely tuned pieces of artwork. To give to your
        documents the subtle touch they deserve, carefully choose the options
        you want: kerning, ligatures, old-style numbers, tabular figures,
        ordinals…
      </p>
    </section>

    <section>
      <h3>Fully Tested and Cross-Platform</h3>
      <img src="{{ url_for('static', filename='images/zen.jpg') }}" />
      <p>
        Each version of WeasyPrint is extensively and automatically tested on
        major platforms (Windows, macOS and Linux).
      </p>
    </section>
  </article>
{% endblock content %}
