{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>WeasyPrint</h2>
    <aside>
      <ul class="icons">
        <li class="github"><a href="https://github.com/Kozea/WeasyPrint">Code</a></li>
        <li class="web"><a href="{{ url_for('page', page='projects/weasyprint') }}">Website</a></li>
        <li class="doc"><a href="https://weasyprint.readthedocs.io/">Doc</a></li>
        <li class="gitter"><a href="https://gitter.im/CourtBouillon/WeasyPrint">Chat</a></li>
      </ul>
    </aside>

    <p>The awesome document factory</p>

    <section>
      <h3>Presentation</h3>
      <p>
        WeasyPrint is a smart solution helping web developers to create PDF
        documents. It turns simple HTML pages into gorgeous statistical
        reports, invoices, tickets…
      </p>
    </section>

    <section>
      <h3>Features</h3>
      <ul>
        <li>Custom page-based rendering engine for HTML and CSS</li>
        <li>Aims to support web standards</li>
        <li>Meant to be easy to understand and to hack on</li>
        <li>Licensed under BSD</li>
      </ul>
    </section>

    {% include '_support.jinja2' %}
  </article>
{% endblock content %}
