{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>WeasyPrint</h2>
    <aside>
      <ul class="icons">
        <li class="github"><a href="https://github.com/Kozea/WeasyPrint">Code</a></li>
        <li class="web"><a href="{{ url_for('page', page='projects/weasyprint') }}">Website</a></li>
        <li class="doc"><a href="https://weasyprint.readthedocs.io/">Doc</a></li>
        <li class="gitter"><a href="https://gitter.im/CourtBouillon/WeasyPrint">Chat</a></li>
      </ul>
    </aside>

    <p class="presentation">
      WeasyPrint is a smart solution helping people to create PDF
      documents. You can generate gorgeous statistical reports, invoices,
      tickets…
    </p>

    <section>
      <h3>Based on Universal Web Technologies</h3>
      <img src="{{ url_for('static', filename='images/earth.jpg') }}" />
      <p>
      </p>
    </section>

    <section>
      <h3>Powerful PDF Output</h3>
      <img src="{{ url_for('static', filename='images/rocket.jpg') }}" />
      <p>
        Bookmarks, attachments, table of contents…
      </p>
    </section>

    <section>
      <h3>Beautiful Texts and Fonts</h3>
      <img src="{{ url_for('static', filename='images/typo.jpg') }}" />
      <p>
      </p>
    </section>

    <section>
      <h3>Fully Tested and Cross-Platform</h3>
      <img src="{{ url_for('static', filename='images/zen.jpg') }}" />
      <p>
        Each version of WeasyPrint is extensively and automatically tested on
        major platforms (Windows, macOS and Linux).
      </p>
    </section>
  </article>
{% endblock content %}
