{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Open Collective: Donation Goals</h2>
      <aside><time datetime="2021-01-25">January 25, 2021</time>, by grewn0uille</aside>
      <p>
      You may have noticed some sponsoring and donation links pointing to an 
      <a href="https://opencollective.com/courtbouillon">
      Open Collective page</a>. What is Open Collective? Why become a sponsor or make a donation?
      </p>
    </header>

    <section>
      <h3>What Is Open Collective and Why We Chose It?</h3>
      <p>
      Open Collective is a platform allowing people to create groups (ie. collectives 😉), helping them to collect money more easily so that they can develop their projects.
      </p>
      <p>
      Other services like Open Collective exist, like Patreon for example. But Open Collective is open-oriented and seems to value transparency.
      </p>
      <p>
      Indeed, Open Collective relies on open source technologies and its source code is available on 
      <a href="https://github.com/opencollective">GitHub</a>. It looks like a nice platform with values we share, so we chose Open Collective to manage sponsoring and donations for our projects!
      </p>
    </section>

    <section>
      <h3>Why Donate?</h3>
      <p>
      On Open Collective, it is possible to set donation goals (you can see them at the bottom <a href="https://opencollective.com/courtbouillon">of the page</a>). When donation goals are reached, rewards are unlocked.
      </p>
      <p>
      Here, for CourtBouillon, the rewards are time we book to work on our 
      <a href="https://www.courtbouillon.org/projects">software suite</a>.
      </p>
      <p>
      By booking this time, you are assured that the projects you use are going to be alive. By booking this time, you are assured that the software you use is going to get new features, more issues resolved, better documentation…
      </p>
      <p>
      For now, we put three donation goals going to half a day per week to two days per week.
      </p>
      <p>
      The higher the goals unlocked, the more projects will grow 🌱!
      </p>
    </section>
  </article>

{% endblock content %}
