{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Have You Met CourtBouillon?</h2>
      <aside><time datetime="2020-10-12">October 12, 2020</time>, by grewn0uille</aside>
      <p>
      Hello. We are CourtBouillon, and we love to develop and take care of 
      open source projects. Let’s introduce us!
      </p>
    </header>

    <section>

      <h3>Who Are We?</h3>
      <p>
      Some years ago, an IT engineer joined a small French company named Kozea 
      and created with talented people some open source software. Among these projects, there was
      WeasyPrint, you may have heard about it.
      </p>
      <p>
      Some years later, an other IT engineer joined this same small French
      company (which has grown in the meantime), learned about the open source world
      and started to contribute.
      </p>
      <p>
      That was certainly quite some nice time. But… Both of them decided to quit.
      </p>
      <p>
      What sad news for the projects! Who is going to take care of them now?
      </p>
      <p>
      Luckily for them, the two engineers, in collaboration with Kozea, decided 
      to continue working together and caring on this software.
      </p>
      <p>
      So, that is what CourtBouillon is about: two people who don’t want to stop
      developing quality open source projects. You may know us as Guillaume, 
      aka <code>liZe</code>, and Lucie, aka <code>grewn0uille</code>.
      </p>

      <h3>Which Projects Are We Talking About?</h3>
      <p>
      A bit above, we spoke about WeasyPrint. But what about the other ones
      which were maintained by Kozea?
      </p>
      <p>
      You may know and use different projects that are linked with Kozea. But
      now, some of them are totally maintained by us, CourtBouillon.
      </p>
      <p>
      These projects are: WeasyPrint, CairoSVG, tinycss2, cssselect2, Pyphen and
      cairocffi.
      </p>
      <p>
      And of course, we are planning on creating others 😉.
      </p>

      <h3>What Is Coming Next?</h3>
      <p>
      Now that you know who is behind CourtBouillon, you may be interested in
      what is planned for the different projects.
      </p>
      <p>
      So… First at all… RELEASES 🎉!
      </p>
      <p>
      We know it’s been long time and we plan on doing releases for:
      </p>
      <ul>
        <li>WeasyPrint,</li>
        <li>CairoSVG,</li>
        <li>tinycss2,</li>
        <li>cssselect2,</li>
        <li>Pyphen,</li>
        <li>and cairocffi.</li>
      </ul>
      <p>
      For this big release day, we aim for October 29, 2020.
      </p>

      <p>
      After all these releases, we will publish a roadmap for the projects. 
      Perhaps some hints have been left on some tickets, like
      <a href="https://github.com/Kozea/WeasyPrint/issues/630#issuecomment-614036172">over here</a> or 
      <a href="https://github.com/Kozea/WeasyPrint/issues/1205#issuecomment-687341215">over there</a> 🤫.
      </p>

      <h3>How to find us?</h3>
      <p>
      You want to stay tuned on what is coming? Great!
      </p>
      <p>
      You can follow us on <a href="https://twitter.com/BouillonCourt">Twitter</a> 
      where we will tweet mainly about releases and bug fixes.
      </p>
      <p>
      You can add our <a href="http://www.courtbouillon.org/blog.rss">RSS feed</a> 
      to your favourite RSS reader and never miss an article.
      </p>
      <p>
      You can join our <a href="https://gitter.im/CourtBouillon">Gitter rooms</a> 
      and discuss with us and with the community. (Be nice, come and say hi 😄.)
      </p>
      <p>
      You want more things and quickly? You can also join us on 
      <a href="https://opencollective.com/courtbouillon">OpenCollective</a> and
      become a sponsor 😉.
      </p>

    </section>
  </article>

{% endblock content %}
