{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>On the Road</h2>
      <aside><time datetime="2020-11-05">November 5, 2020</time>, by grewn0uille</aside>
      <p>
      You may have noticed some releases last week. It’s time to share with you what
      is coming next!
      </p>
    </header>

    <section>

      <h3>Releases Last Week</h3>
      <p>
      Last week, we made releases for many projects. If you didn’t know, you can
      have a look at the different changelogs:
      </p>
      <ul>
        <li>
          <a href="https://github.com/Kozea/WeasyPrint/releases/tag/v52">Weasyprint</a>,
        </li>
        <li>
          <a href="https://github.com/Kozea/CairoSVG/releases/tag/2.5.0">CairoSVG</a>,
        </li>
        <li>
          <a href="https://github.com/Kozea/tinycss2/releases/tag/v1.1.0">tinycss2</a>,
        </li>
        <li>
          <a href="https://github.com/Kozea/cssselect2/releases/tag/0.4.0">cssselect2</a>,
        </li>
        <li>
          <a href="https://github.com/Kozea/cairocffi/releases/tag/v1.2.0">cairocffi</a>,
        </li>
        <li>
          <a href="https://github.com/Kozea/Pyphen/releases/tag/0.10.0">Pyphen</a>.
        </li>
      </ul>
      <p>
      These releases include a lot of bug fixes and new features. For
      tinycss2 and cssselect2, you’ll also find a new documentation structure
      and packaging system.
      </p>
      <p>
      Don’t hesitate to tell us your impressions, and to open tickets if you
      encounter any bugs! 😄
      </p>

      <h3>What’s Coming After That?</h3>
      <p>
      For the next releases, our main goal is to get rid of Cairo for
      WeasyPrint 🎉.
      </p>
      <p>
      This work has already begun on the <code>pydyf</code> branch.
      </p>
      <p>
      To remove Cairo, we are writing our own PDF generator called
      <code>pydyf</code>. You can see its evolution on 
      <a href="https://github.com/CourtBouillon/pydyf">this GitHub repository</a>.
      </p>
      <p>
      For now, almost everything that WeasyPrint actually does is implemented
      with pydyf. It mainly misses SVG support, which means that we have to rewrite
      CairoSVG, but for pydyf!
      </p>
      <p>
      Removing Cairo will allow us to have a better control on PDF genaration
      and to resolve a lot of issues related to:
      </p>
      <ul>
        <li>
          <a href="https://github.com/Kozea/WeasyPrint/issues/1237">WOFF support</a>,
        </li>
        <li>
          <a href="https://github.com/Kozea/WeasyPrint/issues/504">linear gradients</a>,
        </li>
        <li>
          <a href="https://github.com/Kozea/WeasyPrint/issues/790">repeated gradients</a>,
        </li>
        <li>
          <a href="https://github.com/Kozea/WeasyPrint/issues/1199">kerning</a>,
        </li>
        <li>and more.</li>
      </ul>

      <h3>And After That?</h3>
      <p>
      After Cairo removal, there are a lot of features and improvements we want
      to work on, like:
      </p>
      <ul>
        <li>
          advanced PDF formats and features: 
          <a href="https://github.com/Kozea/WeasyPrint/issues/640">X/3</a>, 
          <a href="https://github.com/Kozea/WeasyPrint/issues/630">PDF/A</a>, 
          <a href="https://github.com/Kozea/WeasyPrint/issues/1088">accessibility</a>,
          <a href="https://github.com/Kozea/WeasyPrint/issues/752">digital signature</a>…;
        </li>
        <li>
          documentation structure: new structure like tinycss2 and cssselect2;
        </li>
        <li>
          package creation: flit packaging;
        </li>
        <li>
          CMYK support: 
          <a href="https://github.com/Kozea/WeasyPrint/issues/1128">CMYK images</a>, 
          <a href="https://github.com/Kozea/WeasyPrint/issues/844">color profile</a>;
        </li>
        <li>
          RTL and bidi support: 
          <a href="https://github.com/Kozea/WeasyPrint/issues/577">writing mode</a>, 
          <a href="https://github.com/Kozea/WeasyPrint/issues/106">rtl support</a>;
        </li>
        <li>
          paged layout features: 
          <a href="https://github.com/Kozea/WeasyPrint/issues/259">page floats</a>, 
          <a href="https://github.com/Kozea/WeasyPrint/issues/298">footnotes</a>, 
          <a href="https://github.com/Kozea/WeasyPrint/issues/895">page groups</a>, 
          <a href="https://github.com/Kozea/WeasyPrint/issues/1197">named areas</a>, 
          <a href="https://github.com/Kozea/WeasyPrint/issues/36">page breaks</a>;
        </li>
        <li>
          modern layout: 
          <a href="https://github.com/Kozea/WeasyPrint/issues/543">grid</a>, 
          a better flex and columns support;
        </li>
        <li>
          performance: 
          <a href="https://github.com/Kozea/WeasyPrint/issues/578">long documents</a>, 
          <a href="https://github.com/Kozea/WeasyPrint/issues/1104">long tables</a>, 
          <a href="https://github.com/Kozea/WeasyPrint/issues/1123">memory leak</a>…;
        </li>
        <li>
          CSS features, functions and keywords: 
          <a href="https://github.com/Kozea/WeasyPrint/issues/1007">inherit</a>, 
          <a href="https://github.com/Kozea/WeasyPrint/issues/357">calc</a>, 
          <a href="https://github.com/Kozea/WeasyPrint/issues/723">string</a>, 
          <a href="https://github.com/Kozea/WeasyPrint/issues/898">var</a>,
          <a href="https://github.com/Kozea/WeasyPrint/issues/59">MathML</a>, 
          <a href="https://github.com/Kozea/WeasyPrint/issues/406">ruby</a>, 
          <a href="https://github.com/Kozea/WeasyPrint/issues/1175">first-line</a>.
        </li>
      </ul>

      <p>
      We don’t know yet in which order it will be done. Don’t worry: we’ll ask
      for your opinion at the appropriate time 📆.
      </p>

      <p>
      As you can imagine, all of this will require a lot of work and we won’t 
      fix a date for the main goal (or the other ones after), as we don’t
      work full-time (yet!) on it. But you can make things go faster by supporting us
      on <a href="https://opencollective.com/courtbouillon">OpenCollective</a> 😉.
      </p>

    </section>
  </article>

{% endblock content %}
