{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Two Years of CourtBouillon</h2>
      <aside><time datetime="2022-10-12">October 12, 2022</time>, by CourtBouillon</aside>
      <p>
        Do you know what is the day today? We’re October 12, which means that
        it’s CourtBouillon’s two-year anniversary 🎂! So it’s time to rewind
        and see what happened during this year.
      </p>
    </header>

    <section>
      <h3>A Brief Introduction</h3>

      <p>
        For this 2-year anniversary, we made a short survey about you, WeasyPrint and
        your expectations. Thanks a lot to all the people who answered it 💜.
      </p>
      <p>
        In this article, we’re going to briefly introduce ourselves for people who
        didn’t know us yet, rewind what happened during this year, detail our
        sources of incomes and then see what we’re up to for the next year!
      </p>

      
      <h4>Who is CourtBouillon?</h4>

      <p>
        Two years ago, we announced the creation of CourtBouillon.
      </p>
      <p>
        We? We is Guillaume, aka <code>liZe</code>, and Lucie, aka <code>grewn0uille</code> 👋.
      </p>
      <p>
        For the full story of the creation of CourtBouillon, you can read
        <a href="{{ url_for('blog', article='00001-have-you-met-courtbouillon') }}">this nice article</a> 😉.
      </p>

      <h4>What does CourtBouillon do?</h4>
      <p>
        Our goal as CourtBouillon is to maintain and develop open source software. The
        main projects we take care of are:
      </p>
      <ul>
        <li>WeasyPrint,</li>
        <li>pydyf,</li>
        <li>tinycss2,</li>
        <li>Pyphen,</li>
        <li>cssselect2,</li>
        <li><a href="{{ url_for('page', page='projects') }}">and more…</a></li>
      </ul>

      <p>
        Among maintaining and developing this nice software, we also love to write
        articles on this blog about new WeasyPrint versions, specific new features,
        CSS tricks, technical articles…
      </p>
      <p>
        Don’t hesitate to walk around the <a href="{{ url_for('blog') }}">blog section</a> 😊.
      <p>
        You can follow us on <a href="https://twitter.com/BouillonCourt">Twitter</a>
        or subscribe to our <a href="{{ url_for('rss') }}">RSS feed</a> to never miss news!
      </p>
    </section>

    <section>
      <h3>What Happened In This Year?</h3>

      <p>
        A lot of things happened during this year. How many issues were closed?
        How many pull requests were merged? How many releases have been out?
        Let’s have a look!
      </p>
      
      <h4>Closed Issues</h4>
      <embed src="{{ url_for('static', filename='graphs/2_year_issues.svg') }}" />

      <p>
        256 issues were closed during this year, of which 92% were on WeasyPrint.
      </p>

      <h4>Merged Pull Requests</h4>
      <embed src="{{ url_for('static', filename='graphs/2_year_pr.svg') }}" />

      <p>
        38 pull requests have been merged, of which 81% were on WeasyPrint.
      </p>

      <h4>Releases</h4>
      <embed src="{{ url_for('static', filename='graphs/2_year_releases.svg') }}" />

      <p>
        23 releases have been made, it’s almost 2 releases per month 🙀!
      </p>
      
      <h4>New Features</h4>

      <p>
        Various new features came alive this year. Which have been the most enjoyed?
      </p>
      
      <embed src="{{ url_for('static', filename='graphs/2_year_features.svg') }}" />

      <p>
        It looks like that performance is something important for a lot of you 😄.
      </p>
      <p>
        These results are connected with the
        <a href="{{ url_for('blog', article='00010-weasyprint-survey-2021') }}">previous survey</a>.
      </p>
    </section>

    <section>
      <h3>Sources Of Incomes</h3>

      <p>
        All of these things wouldn’t have been possible without sponsors, backers and users.
        Thanks a lot 💜.
      </p>
      <p>
        As we believe transparency is important, we’re going to detail our
        different sources of incomes.
      </p>
      <p>
        We have three incomes’s sources:
      </p>
      <ul>
        <li>HTML/CSS templates creation,</li>
        <li>bug fixes and additionnal features,</li>
        <li><a href="https://opencollective.com/courtbouillon">OpenCollective</a>,</li>
        <li>other, which will be detailed.</li>
      </ul>
      
      <embed src="{{ url_for('static', filename='graphs/2_year_incomes.svg') }}" />

      <p>
        The repartition between the different sources are almost equals.
      </p>

      
      <h4>HTML/CSS Templates Creation</h4>
      <p>
        If you didn’t know yet, we offer professionnal support, mainly on WeasyPrint
        and its usage.
      </p>
      <p>
        The HTML/CSS templates creation is one of the (many) things we can do.
        When you have a good looking mock-up for your documents made by your sweet designer and
        you don’t know how to transform it in nice HTML/CSS, or haven’t the time
        to do it, we’re here for you!
      </p>

      <h4>Bug Fixes and Additionnal Features</h4>
      <p>
        Another thing that we can do is fixing bugs which are making your life hard
        (in the limit of our software of course) and adding features you need
        to have the greatest documents of all time.
      </p>

      <p>
        Which is nice about this part is that when you sponsor a bug fix or
        a new feature, the whole community benefits 😉.
      </p>
      <p>
        During this year, some nice features have been added and bugs have been fixed
        thanks to sponsoring:
      </p>
      <ul>
        <li>footnotes support,</li>
        <li>PDF/A support,</li>
        <li>bitmap font support,</li>
        <li>nested <code>line-clamp</code> support,</li>
        <li>better footnotes support for multicolumn layouts,</li>
        <li>and more are coming!</li>
      </ul>
      <p>
        Thanks a lot to everyone who sponsored features and bug fixes 💜.
      </p>

      <h4>OpenCollective</h4>
      <p>
        When <a href="https://opencollective.com/courtbouillon">becoming a backer or a sponsor</a>
        on OpenCollective, you participate in making CourtBouillon sustainable.
      </p>
      <p>
        Of course fixing bugs and adding features require a lot of time.
        But there is a lot of invisible work.
      </p>
      <p>
        Answering and sorting GitHub issues, improving tests, improving performance,
        writing articles, communicating… all of that also require time and
        thanks to <a href="https://opencollective.com/courtbouillon">OpenCollective backers and sponsors</a>,
        we’re able to spend time to do it peacefully.
      </p>
      <p>
        Thank you very much to all the OpenCollective backers and sponsors 💜.
      </p>

      <h4>Other</h4>
      <p>
        In this "other" category, as you can guess, it’s everything that doesn’t
        fit in the others.
      </p>
      <p>
        This year, other means:
      </p>
      <ul>
        <li>helping packaging <a href="https://www.mercurial-scm.org/">Mercurial</a> for Windows,</li>
        <li>automating document generation workflows with WeasyPrint,</li>
        <li>advising about best practices for print CSS,</li>
        <li>developing <a href="https://radicale.org/v3.html">Radicale</a> plugin.</li>
      </ul>        
    </section>

    <section>
      <h3>What For Next Year?</h3>

      <p>
        After this year, what can you expect for the next one?
      </p>

      <h4>New Features</h4>
      <p>
        In the survey, we asked you which features you’d like to see in WeasyPrint,
        here are the results!
      </p>
      
      <embed src="{{ url_for('static', filename='graphs/2_year_next_features.svg') }}" />
      <p>
        The battle between has been tough between the faster generation and
        grid support!
      </p>

      <p>
        This ranking doesn’t contain all the GitHub issues labeled <code>feature</code>,
        it’s here to give us a kind of roadmap 🛣️.
      </p>

      <h4>New Articles</h4>
      <p>
        We think that communication is important so everyone can be up-to-date
        regarding our software and also that is nice to share some knowledge
        about CSS, print, Python (and we’re sure we’ll find other cool subjects).
      </p>
      <p>
        So you can expect new articles about features, WeasyPrint versions,
        CSS tricks, and more!
      </p>

      <h4>And More!</h4>
      <p>
        And of course, you can be sure we’ll continue to answer to all your GitHub issues
        you may open, to all the mails you may send us, to all the message you may write
        on our Gitter channel.
      </p>
      <p>
        You can be sure we’ll do our best to ensure WeasyPrint, and its dependencies a
        bright future.
      </p>
      <p>
        Thanks again to all the people who sponsored features and bug fixes, to our
        lovely backers and sponsors, to everyone who uses our software and opens issues 💜.
      </p>

      <p>
        Don’t hesitate to follow us on <a href="https://twitter.com/BouillonCourt">Twitter</a>
        to never miss news, to <a href="mailto:contact@courtbouillon.org">contact us</a> if you need
        some help with WeasyPrint or need some advices, to
        <a href="https://opencollective.com/courtbouillon">support us</a> on OpenCollective!
      </p>
    </section>
  </article>

  <style>
    embed {
      display: block;
      float: left;
      margin: 0 1em 2em 0;
      width: 70%;
    }
    embed + p {
      margin-top: 2em;
    }
    h2, h3, h4 {
      clear: left;
    }
    @media (max-width: 920px) {
      embed {
        float: none;
        margin: 0;
        width: 100%;
      }
    }
  </style>

{% endblock content %}
