{% extends '_layout.jinja2' %}

{% block content %}
  <main>

  <article>
    <header>
      <h1>Three Years of CourtBouillon</h1>
      <aside><time datetime="2023-10-12">October 12, 2023</time>, by grewn0uille</aside>
      <p>
        Do you know what day it is today? It’s October 12, which means that
        it’s CourtBouillon’s three-year anniversary 🎂! So it’s time to rewind
        and see what happened during this year.
      </p>
    </header>

    <section>
      <h2>A New Anniversary</h2>

      <p>
        WeasyPrint may be 12 years old, but CourtBouillon has been created only 3 years ago.
        Since then, we take care of WeasyPrint and its dependencies.
      </p>
      <p>
        As usual for this special day, we prepared this rewind. So if you want a large
        summary of the most important things happened around WeasyPrint and
        CourtBouillon during the last year and discover what we’re up to for
        the next one, you’re at the perfect place!
      </p>
      <p>
        <strong>You can give the development a direction by <a href="https://thym.courtbouillon.org/4">answering our short survey</a></strong>.
      </p>
    </section>

    <section>
      <h2>What Happened This Year?</h2>

      <p>
        Many things occured during this year. First, let’s have a look at
        numbers. How many issues were closed? How many pull requests were merged?
        How many releases have been out? 🧐
      </p>

      <h3>Closed Issues</h3>
      <embed src="{{ url_for('static', filename='graphs/3_year_issues.svg') }}" />

      <p>
        198 issues were closed during this year, of which 83% were on WeasyPrint.
      </p>

      <h3>Merged Pull Requests</h3>
      <embed src="{{ url_for('static', filename='graphs/3_year_pr.svg') }}" />

      <p>
        41 pull requests have been merged, of which 72% were on WeasyPrint.
      </p>

      <h3>Releases</h3>
      <embed src="{{ url_for('static', filename='graphs/3_year_releases.svg') }}" />

      <p>
        21 versions have been released!
      </p>

      <p>
        Slightly fewer issues have been closed than the previous year, but we
        observed an <strong>increase on pull requests and on new contributors 💜</strong>.
      </p>

      <h3>New Features</h3>

      <p>
        Among all of these releases, you can imagine that there are some
        new cool features and improvements:
      </p>
      <ul>
        <li>PDF/UA support,</li>
        <li>variable fonts support,</li>
        <li>PDF forms support,</li>
        <li>better SVG gradients,</li>
        <li>PDF compression,</li>
        <li>PDF optimizations,</li>
        <li>reduced memory usage,</li>
        <li>and more… !</li>
      </ul>
    </section>

    <section>
      <h2>Sources of Income</h2>

      <p>
        We believe in transparency, so like the previous years we’re going to
        provide details on our different sources of income.
      </p>
      <p>
        We have four main sources of income:
      </p>
      <ul>
        <li>templating and styling with HTML/CSS,</li>
        <li>bug fixes and additional features,</li>
        <li>sponsoring and donations on <a href="https://opencollective.com/courtbouillon">OpenCollective</a>,</li>
        <li>miscellaneous, which will be detailed.</li>
      </ul>

      <embed src="{{ url_for('static', filename='graphs/3_year_incomes.svg') }}" />

      <p>
        Unlike last year, the distribution between the different sources isn’t
        really homogeneous. Let’s see what is behind each source!
      </p>

      <h3>Templating and styling with HTML/CSS</h3>
      <p>
        <strong>Creating HTML and CSS for print is one of the services we provide.</strong>
        If your designer creates a nice mock-up for your documents and you
        have troubles to change it into HTML/CSS template, we’re here for you!
      </p>
      <p>
        CSS can sometimes be hard to master, even more when it’s CSS for print.
        During this year, we created several <strong>HTML/CSS templates for differents
        type of documents</strong> like contracts, roadmaps, scientific reports, letters…
      </p>

      <h3>Bug Fixes and Additional Features</h3>
      <p>
        Another service we provide is <strong>fixing bugs you encounter and adding new
        features to make your life easier</strong>.
      </p>
      <p>
        A nice thing about this part is that the bug fixes and the new features you
        sponsor benefit the whole community. Another nice thing is that the bug
        fixes and the new features funded by other companies will be useful for you
        😉!
      </p>
      <p>
        During this year, some cool features have been funded by sponsors:
      </p>
      <ul>
        <li>PDF/UA support,</li>
        <li>variable fonts support,</li>
        <li>PDF forms support,</li>
        <li>PDF optimizations and compression.</li>
      </ul>
      <p>
        <strong>Thanks a lot to everyone who sponsored features 💜.</strong>
      </p>

      <h3>Sponsoring and Donations on OpenCollective</h3>
      <p>
        <strong>When <a href="https://opencollective.com/courtbouillon">you become a
        backer or a sponsor on OpenCollective</a>, you greatly help
        CourtBouillon to maintain its projects in a sustainable way.</strong>
      </p>
      <p>
        Of course, fixing bugs and adding features requires a lot of time. But
        there is also a lot of invisible work.
      </p>
      <p>
        Answering and sorting GitHub issues, improving tests, improving performance,
        writing articles, communicating … all these things require time.
        Thanks to <a href="https://opencollective.com/courtbouillon">OpenCollective backers and sponsors</a>,
        we’re able to spend time to do that peacefully.
      </p>
      <p>
        <strong>Thanks to all the OpenCollective backers and sponsors 💜.</strong>
      </p>

      <h3>Miscellaneous</h3>
      <p>
        As you can guess, this category contains everything that doesn’t fit in
        the other categories.
      </p>
      <p>
        This year, it includes:
      </p>
      <ul>
        <li>automating document generation with WeasyPrint,</li>
        <li>showcase website development with CRM integration,</li>
        <li>web applications development with document generation.</li>
      </ul>
    </section>

    <section>
      <h2>Meeting the community</h2>

      <p>
        This year was also important for us with the return of in-person conferences.
        We participated at several conferences:
      </p>
      <ul>
        <li>the <a href="https://www.pycon.fr/2023/">PyConFR</a> in Bordeaux,</li>
        <li>the <a href="https://jdll.org/">JDLL</a> in Lyon, with our friends of <a href="https://pagedjs.org/">paged.js</a> 🥰,</li>
        <li><a href="https://www.paris-web.fr/">Paris Web</a>, in… Paris.</li>
      </ul>
      <p>
        During these events, we had the opportunity to <strong>present HTML/CSS for
        printing documents through talks and workshops</strong>. If you’d like to see us
        at some conferences, <a href="mailto:contact@courtbouillon.org">don’t hesitate to tell us</a> 😁.
      </p>
      <p>
        Meeting some of you in person was really nice and led to interesting discussions!
        We hope that we’ll be able to meet more of you next year 👋!
      </p>
    </section>

    <section>
      <h2>What for Next Year?</h2>

      <p>
        After this year, what can you expect for the next one?
      </p>

      <h3>New Features</h3>
      <p>
        We’re really interested in supporting the <strong>CSS grid</strong>
        layout in WeasyPrint, and also on improving the <strong>flex</strong>
        support.
      </p>
      <p>
        We also want to focus on <strong>PDF/A and PDF/UA support</strong>. If
        you have real-life experience with PDF/A or PDF/UA documents generated
        with WeasyPrint and encounter problems, don’t hesitate to open an issue
        on GitHub!
      </p>
      <p>
        Moreover, we started working on generating <strong>WeasyPrint
        executables for Windows, macOS and Linux</strong>. If you’re interested
        in using executables and want to test that they would work correctly
        for you, please <a href="mailto:contact@courtbouillon.org">contact
        us</a>.
      </p>

      <p>
        That’s on what we want to focus on next year, but more important, <strong>we’d
        like to know what is more important for you</strong>! For that, we prepared a
        <a href="https://thym.courtbouillon.org/4">short survey</a> to know
        more about your needs.
        This <a href="https://thym.courtbouillon.org/4">survey</a> is opened
        until November 19. Thanks a lot for your answers.
      </p>

      <h3>And More!</h3>
      <p>
        Of course, you can be sure we’ll continue to answer all the GitHub
        issues you may open, all the mails you may send us, all the messages
        you may write on our Matrix/Gitter channel.
      </p>
      <p>
        <strong>You can be sure we’ll do our best to offer WeasyPrint and its
        dependencies a bright future.</strong>
      </p>
      <p>
        Thanks again to all the people who sponsored features and bug fixes, to
        our lovely backers and sponsors, to our fantastic clients, to our
        amazing contributors, to everyone who uses our software and opens
        issues 💜.
      </p>

      <p>
        Don’t hesitate to follow us on <a href="https://twitter.com/BouillonCourt">Twitter</a>,
        <a href="https://fosstodon.org/@courtbouillon">Mastodon</a> or
        <a href="https://linkedin.com/company/courtbouillon">LinkedIn</a>
        to never miss news, to <a href="mailto:contact@courtbouillon.org">contact us</a> if
        you’d like from some help or some advice on WeasyPrint, and to
        <a href="https://opencollective.com/courtbouillon">support us</a> on OpenCollective!
      </p>
    </section>
  </article>

  <style>
    embed {
      display: block;
      float: left;
      margin: 0 1em 2em 0;
      width: 70%;
    }
    embed + p {
      margin-top: 2em;
    }
    h1, h2, h3,
    p + p {
      clear: left;
    }
    @media (max-width: 920px) {
      embed {
        float: none;
        margin: 0;
        width: 100%;
      }
    }
  </style>

  </main>
{% endblock content %}
