{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <header>
      <h2>Journey Book: April 2026</h2>
      <aside><time datetime="2026-05-05">May 05, 2026</time>, by grewn0uille</aside>
      <p>
        A way calmer month than the previous one.
      </p>
    </header>

    <section>
      <h3>About Code</h3>

      <p>
        April was a hard month on the personnal side and unfortunately,
        we didn’t have a lot of time to work on WeasyPrint and its dependencies 😞.
      </p>
      <p>
        We did some triage on issues and reviews on pull requests.
        Thanks a lot to people contributing to the projects, and welcome to the newcomers 🤗!
      </p>
      <p>
        Besides that, we’re working with customers to help them having nice HTML/CSS templates,
        and so nice documents.
      </p>
    </section>

    <section>
      <h3>Not About Code</h3>

      <p>
        WeasyPrint is 15 years old 🎂!
      </p>
      <p>
        We organised and went to the monthly Python meetup in Lyon 🐍.
        This month, Eden and Rémi talked about making music with code, especially with the Sardine Python library 🎶.
        It was fun and interesting to see other fields where code is used.
      </p>
      <p>
        There are some events coming where will be present:
      </p>
      <ul>
        <li><a href="https://jdll.org/">JDLL</a> in Lyon, on May 30 and 31, just as regular visitors;</li>
        <li><a href="https://pycontg.pytogo.org/">PyCon Togo</a> on the end of August, Lucie will give a (online) keynote.</li>
      </ul>
      <p>
        Don’t hesitate to come / ping and say hi 👋!
      </p>
      <p>
        See you next month for another Journey Book entry 💜
      </p>
    </section>
  </article>
{% endblock content %}
