{% extends '_layout.jinja2' %}

{% block content %}
  <main>
  <article>
    <header>
      <h1>Journey Book: March 2026</h1>
      <aside><time datetime="2026-03-31">March 31, 2026</time>, by grewn0uille</aside>
      <p>
        "Releases and improvements" should be the name of this month!
      </p>
    </header>

    <section>
      <h2>About Code</h2>

      <p>
        We released new versions of different libraries:
      </p>
      <ul>
        <li>tinyhtml5 <a href="https://github.com/CourtBouillon/tinyhtml5/releases/tag/2.1.0">2.1.0</a> allows useless parameters for HTML input streams. That was causing issues on WeasyPrint side.</li>
        <li>Flask-WeasyPrint <a href="https://github.com/Kozea/Flask-WeasyPrint/releases/tag/v1.2.0">v1.2.0</a> uses the new URL fetcher that has been included in WeasyPrint v68.0.</li>
        <li>CairoSVG <a href="https://github.com/Kozea/CairoSVG/releases/tag/2.9.0">2.9.0</a> fixes a security issue caused by the rendering of recursively nested use tags. It’s now limited and you have to use the <code>--unsafe</code> option to remove the limit.</li>
      </ul>

      <p>
        Besides theses releases, we worked on WeasyPrint to add support of
        <a href="https://www.w3.org/TR/css-logical-1/">logical properties</a> (like <code>margin-block-start</code>, <code>padding-inline-end</code>…)
        and viewport units (<code>vw</code>, <code>vh</code>…). That’ll be available in the next main version of WeasyPrint.
      </p>

      <p>
        Work has also be done to generate Windows and macOS wheels 🧀️, including compiled non-Python libraries. If you have some time to
        <a href="https://github.com/Kozea/WeasyPrint/issues/1241#issuecomment-4163674342">give them a try</a>, that’d be really helpful!
      </p>

      <p>
        Flex layout got improvements on page breaks to avoid some weird content loss.
        Grid layout also got some improvements, to avoid infinite loops when grid is used inside columns.
      </p>

      <p>
        To close the code part, we updated <a href="https://github.com/CourtBouillon/weasyprint-samples">our samples</a> to use nested CSS and CSS variables.
      </p>
    </section>

    <section>
      <h2>Not About Code</h2>

      <p>
        The video of Guillaume’s talk at PyConFR 2025 is <a href="https://pyvideo.org/pycon-fr-2025/est-on-juste-paye-a-ecrire-du-code.html">available on PyVideo</a>.
        In this presentation, he talked about our developer job: Are we paid to only write code? As you may guess by the name of the conference, the talk is in French 🇫🇷.
      </p>

      <p>
        We published <a href="{{ url_for('blog', article='00064-types') }}">an article</a> about why we don’t add type annotations in our libraries.
        That’s a question we had on several libraries bug trackers where we answered,
        but we thought it’d be more interesting to develop our point of view in a blog article instead of several GitHub issues on different repositories.
      </p>

      <p>
        We also organised (and went, as usual) to the monthly Python meetup in Lyon 🐍.
        This month, Françoise talked about MkDocs: how to use it, but also how it’s not maintained anymore and which alternatives are coming.
      </p>

      <p>
        And to finish, next month Lucie will be at the <a href="https://mixitconf.org/en/">MixIT conference</a> (16-17 April) in Lyon (France)
        to give a talk about getting started to contribute to Open Source. So if you’re around there, don’t hesitate to come and say hi 👋.
      </p>

      <p>
        See you next month for another Journey Book entry 💜
      </p>
    </section>
  </article>
  </main>
{% endblock content %}
