{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <header>
      <h2>Journey Book: February 2026</h2>
      <aside><time datetime="2026-02-27">February 27, 2026</time>, by liZe</aside>
      <p>
        February is a short month… but we did a lot of different things!
      </p>
    </header>

    <section>
      <h3>About Code</h3>

      <p>
        Most of our work on code this month was to fix a large number of small bugs and
        support CSS features that are largely used.
      </p>
      <p>
        WeasyPrint <a href="https://github.com/Kozea/WeasyPrint/releases/tag/v68.1">v68.1</a>
        was released, it includes a lot of small fixes, as usual for our minor releases.
        We continue to improve the support of CSS layouts such as flexboxes, grids,
        columns… and all the combinations mixing them all together!
      </p>
      <p>
        A small version of CSSSelect2 has also been released:
        <a href="https://github.com/Kozea/cssselect2/releases/tag/0.9.0">v0.9.0</a>.
        The main feature of this release is to support the <code>:host</code> selector,
        that is for example used by latest versions of Tailwind, the popular CSS
        framework.
      </p>
      <p>
        We’ll continue to improve the support of CSS layouts in the future, and get a
        more and more reliable rendering for complex document structures.
      </p>
    </section>

    <section>
      <h3>Not About Code</h3>

      <p>
        This was the first time for us at <a href="https://fosdem.org/2026/">FOSDEM</a>,
        but it won’t be the last. We’ve had such an incredible time in Brussels! 🇧🇪
      </p>
      <p>
        You can already watch the videos of our two talks:
      </p>
      <ul>
        <li>
          <a href="https://fosdem.org/2026/schedule/event/FXLB7M-outside_the_beaten_path_of_css/">Outside the Beaten Path of CSS</a>,
          with a very dangerous live-sliding show and a mind-blowing live-printing 🖨️ session,
        </li>
        <li>
          <a href="https://fosdem.org/2026/schedule/event/KQEWP9-funding_lessons_learned_panel/">Funding Lessons Learned Panel</a>,
          with a more calm and large overview of the funding solutions of the Open Source community.
        </li>
      </ul>
      <p>
        Even more than the great talks, we were really happy to meet some of our
        clients, partners and friends, including:
      </p>
      <ul>
        <li>
          Daniel from <a href="https://www.trainingsparkle.com/">Trainingsparkle</a>,
          who creates beautiful books for crazy marathon and trail lovers 👟;
        </li>
        <li>
          Jeremy from <a href="https://www.spacinov.com/">Spacinov</a>, who develops
          software for contact centers;
        </li>
        <li>
          Liang, who creates fonts at <a href="https://www.typotheque.com/">Typotheque</a> during
          the day, and helps to build and publish the <a href="https://home.unicode.org/">Unicode</a>
          specification during the night;
        </li>
        <li>
          Pierre-Yves and Raphaël from <a href="https://octobus.net/">Octobus</a>, who
          maintain the <a href="https://mercurial-scm.org/">Mercurial</a> source control manager;
        </li>
        <li>
          and all the other people who have had the chance to talk with!
        </li>
      </ul>
      <p>
        Another great time we had this month was the
        <a href="https://www.meetup.com/python-afpy-lyon/events/313021862/">Python Meetup in Lyon</a>,
        where Thierry presented many tools to have fun with logic and code. A lot of
        children were there!
      </p>
      <p>
        I was also pleased to be invited by
        <a href="https://www.youtube.com/channel/UCYnvxJ-PKiGXo_tYXpWAC-w">Micode</a>,
        to talk (in French) about PDF in his podcast
        <a href="https://www.youtube.com/channel/UCWedHS9qKebauVIK2J7383g">Underscore_</a>.
        The episode was broadcast on Twitch, and will be on Youtube soon.
      </p>
      <p>
        And finally, one last little thing: we started to work with
        <a href="https://bnjm.eu/">Benjamin</a> on a brand new version of our website.
        You’ll have to wait a little bit to see the result, so… Stay tuned! 📻
      </p>

      <p>
        See you next month for another Journey Book entry 💜
      </p>
    </section>
  </article>
{% endblock content %}
