{% extends '_layout.jinja2' %}

{% block content %}
  <main>
  <article>
    <header>
      <h1>Journey Book: January 2026</h1>
      <aside><time datetime="2026-01-28">January 28, 2026</time>, by grewn0uille</aside>
      <p>
        Welcome to this new article format!
        Let’s have a look at what we did during this month of January.
      </p>
    </header>

    <section>
      <h2>A New Article Format</h2>

      <p>
        Releases are the most visible part of our work, but we wanted to share more about what we do,
        and talk about all the other parts of the work.
      </p>
      <p>
        We thought about this for quite a time now, but it’s only on this beginning of the year that
        we came to this article format (inspired by the weekly newsletters of
        <a href="https://daniel.haxx.se/">Daniel Stenberg</a>).
      </p>
      <p>
        So, we plan to publish a "Journey Book" entry each month in which we talk about the things we
        worked on during the month and about what we’re on, with a lighter tone than on our
        other formats.
      </p>
      <p>
        We hope you’ll like this kind of articles as much as we’re excited to share about the
        different parts of our Free and Open Source Software journey 🤩!
      </p>
    </section>

    <section>
      <h2>About Code</h2>

      <p>
        Regarding code-related tasks for this month, we released WeasyPrint
        <a href="https://github.com/Kozea/WeasyPrint/releases/tag/v68.0">v68</a>.
        This <a href="{{ url_for('blog', article='00061-weasyprint-68') }}">new version</a>
        includes security updates related to URL fetchers, API changes for e-invoices and other improvements and fixes.
      </p>
      <p>
        We also fixed some issues related to transparency, SVGs and URL fetchers introduced by WeasyPrint v68.
        We plan to release a minor version soon!
      </p>
      <p>
        We had a look at the <a href="https://www.w3.org/TR/css-text-4/">CSS Text Module Level 4</a> and found out that
        the property <code>white-space</code> has changed. It’s now a shorthand for <code>white-space-collapse</code>,
        <code>text-wrap-mode</code> and <code>white-space-trim</code>. We’re glad to have this specified now because
        <code>white-space</code> was a bit difficult to handle as it influences different things. We started
        to implement this change, so it’ll be cleaner in WeasyPrint code 🧹.
      </p>
      <p>
        In addition to that, we also work on having the right output intent in the PDF. The output intent indicates
        which color space is used by the final device to reproduce the colors of the PDF. Before having CMYK support 🌈, it was easy: always sRGB.
        Now with CMYK, it’s not always as simple.
      </p>
    </section>

    <section>
      <h2>Not About Code</h2>

      <p>
        Besides those coding-related things, we (almost finished to) prepare our slideshows for
        <a href="https://fosdem.org/2026/">FOSDEM</a>.
        This will be our first time at FOSDEM 😍, we’re very excited to go there and to take part in two sessions:
      </p>
      <ul>
        <li>
          a <a href="https://fosdem.org/2026/schedule/event/FXLB7M-outside_the_beaten_path_of_css/">talk in the "Browser and web platform" room</a>,
          on Saturday 31 at 11:15,
        </li>
        <li>
          a <a href="https://fosdem.org/2026/schedule/event/KQEWP9-funding_lessons_learned_panel/">panel in the "Funding the FOSS Ecosystem" room</a>,
          on Saturday 31 at 12:30.
        </li>
      </ul>
      <p>
        If you’re there too and want to have a chat about PDF, WeasyPrint, CSS, Python… don’t hesitate to
        ping us. We’d be happy to meet your IRL (and we have some cool WeasyPrint stickers ✨)!
      </p>
      <p>
        This month of January was also the start of the 2026 season of <a href="https://www.meetup.com/fr-fr/python-afpy-lyon/">Python meetups in Lyon</a> (France).
        Each month, we organize a meetup with a talk followed by a time to chat and enjoy some food and drinks.
        Don’t hesitate to drop by if you’re around sometimes ☺️.
      </p>
      <p>
        And to finish this January Journal Book entry, we started to do research about page breaks for paged media.
        That means that we read several CSS specifications to have a deeper vision of how page breaks
        are described in specific layout specifications (like flex, grid…). This step is useful to spot the cases that are not currently
        covered, and that are sometimes pain points when implementing the specification, in order to
        propose a specification improvement!
      </p>

      <p>
        See you next month for another Journey Book entry 💜
      </p>
    </section>
  </article>
  </main>
{% endblock content %}
