<section>
  <p>💕💕💕</p>
  <p>
    This article is part of a series of tearful articles about Python packaging:
  </p>
  <ol>
    <li>
      <a href="{{ url_for('blog', article='00011-the-python-packaging-hell-the-can-of-worms') }}">
        The Can of Worms
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00012-the-python-packaging-hell-roots-of-evil') }}">
        The Roots of Evil
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00013-the-python-packaging-hell-delusions-of-formats') }}">
        Delusions of Formats
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00015-files-everywhere') }}">
        Files Everywhere
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00016-the-toolbox') }}">
        The Toolbox
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00017-the-python-packaging-hell-the-expression-of-needs') }}">
        The Expression of Needs
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00019-the-python-packaging-hell-the-minimal-solution') }}">
        The Minimal Solution
      </a>
    </li>
  </ol>
  <p>
    Before starting, we would like to send a lot of love to the members of the
    <a href="https://www.pypa.io/">PyPA</a> team. We complain a lot in this
    series, but we have a lot of respect for the sisyphean work already done.
  </p>
  <p>
    That being said, let’s start (again) the whining 😭.
  </p>
  <p>💕💕💕</p>
</section>
