<section>
  <p>💕💕💕</p>
  <p>              
    This article is part of a series of tearful articles about Python packaging:
  </p>
  <ol>
    <li>
      <a href="{{ url_for('blog', article='00011-the-python-packaging-hell-the-bag-of-knots') }}">
        The bag of knots
      </a>
    </li>
    <li>
        The roots of evil (forthcoming)
    </li>
    <li>
        Delusions of format (forthcoming)
    </li>
    <li>
        Files everywhere (forthcoming)
    </li>
    <li>
        The toolbox (forthcoming)
    </li>
    <li>
        The expression of needs (forthcoming)
    </li>
    <li>
        The minimal solution (forthcoming)
    </li>
  </ol>
  <p>
    Before starting, we would like to send a lot of love to the members of the 
    <a href="https://www.pypa.io/">PyPA</a> team. We complain a lot in this 
    series, but we have a lot of respect for the sisyphean work already done.
  </p>
  <p>
    Now we said that: let’t start (again) for the whining 😭.
  </p>
  <p>💕💕💕</p>
</section>
