@font-face {
  font-family: ClarityCity;
  font-weight: 400;
  src: local("ClarityCity Regular"), local("ClarityCity-Regular"), url(fonts/ClarityCity-Regular.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-weight: 700;
  src: local("ClarityCity Bold"), local("ClarityCity-Bold"), url(fonts/ClarityCity-Bold.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-style: italic;
  font-weight: 400;
  src: local("ClarityCity RegularItalic"), local("ClarityCity-RegularItalic"), url(fonts/ClarityCity-RegularItalic.woff2);
}

@font-face {
  font-family: Inconsolata;
  font-weight: 400;
  src: local("Inconsolata"), url(fonts/Inconsolata-Regular.woff2);
}

@font-face {
  font-family: Inconsolata;
  font-weight: 700;
  src: local("Inconsolata Bold"), url(fonts/Inconsolata-Bold.woff2);
}

:root {
  --red: #e8403a;
}

h2, h3, h4 {
  margin-top: 1.5em;
  text-wrap-style: balance;
}

@media (prefers-color-scheme: dark) {
  .dark-invert {
    filter: invert(100%);
  }
}
