@font-face {
  font-family: ClarityCity;
  font-weight: 400;
  src: local("ClarityCity Regular"), local("ClarityCity-Regular"), url(fonts/ClarityCity-Regular.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-weight: 700;
  src: local("ClarityCity Bold"), local("ClarityCity-Bold"), url(fonts/ClarityCity-Bold.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-style: italic;
  font-weight: 400;
  src: local("ClarityCity RegularItalic"), local("ClarityCity-RegularItalic"), url(fonts/ClarityCity-RegularItalic.woff2);
}

@font-face {
  font-family: Inconsolata;
  font-weight: 400;
  src: local("Inconsolata"), url(fonts/Inconsolata-Regular.woff2);
}

@font-face {
  font-family: Inconsolata;
  font-weight: 700;
  src: local("Inconsolata Bold"), url(fonts/Inconsolata-Bold.woff2);
}

body[data-theme="dark"],
body:not([data-theme="light"]) {
  --red: #e8403a;

  --color-brand-primary: var(--red);
  --color-brand-content: var(--red);
  --color-brand-visited: var(--red);
  --color-code-background: #272822;
  --color-code-foreground: #f8f8f2;
  --color-highlight-on-target: color-mix(in srgb, var(--red), transparent 35%);
  --font-stack: ClarityCity, sans-serif;
  --font-stack--monospace: Inconsolata, monospace;
  --font-stack--headings: Inconsolata, monospace;
}

h2, h3, h4 {
  margin-top: 1.5em;
  text-wrap-style: balance;
}

@media (prefers-color-scheme: dark) {
  .dark-invert {
    filter: invert(100%);
  }
}
