/* Fonts */

@font-face {
  font-family: ClarityCity;
  font-weight: 100;
  src: local("ClarityCity Thin"), local("ClarityCity-Thin"), url(/static/fonts/ClarityCity-Thin.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-weight: 400;
  src: local("ClarityCity Regular"), local("ClarityCity-Regular"), url(/static/fonts/ClarityCity-Regular.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-weight: 600;
  src: local("ClarityCity SemiBold"), local("ClarityCity-SemiBold"), url(/static/fonts/ClarityCity-SemiBold.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-weight: 700;
  src: local("ClarityCity Bold"), local("ClarityCity-Bold"), url(/static/fonts/ClarityCity-Bold.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-weight: 800;
  src: local("ClarityCity ExtraBold"), local("ClarityCity-ExtraBold"), url(/static/fonts/ClarityCity-ExtraBold.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-weight: 900;
  src: local("ClarityCity Black"), local("ClarityCity-Black"), url(/static/fonts/ClarityCity-Black.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-style: italic;
  font-weight: 400;
  src: local("ClarityCity RegularItalic"), local("ClarityCity-RegularItalic"), url(/static/fonts/ClarityCity-RegularItalic.woff2);
}

@font-face {
  font-family: Inconsolata;
  src: local("Inconsolata"), url(/static/fonts/Inconsolata-Regular.woff2);
}

@font-face {
  font-family: ForkAwesome;
  src: local("ForkAwesome"), url(/static/fonts/forkawesome-webfont.woff2);
}


/* Variables */

:root {
  --black: #210908;
  --darkgrey: #7f7f7f;
  --grey: #c5c5c5;
  --red: #e8403a;
  --blue: #66a3fb;
  --white: #fff;
}


/* Common tags */

html {
  background: var(--white);
  color: var(--black);
  font-family: ClarityCity, sans-serif;
  font-size: 14pt;
  line-height: 1.4;
  scrollbar-width: thin;
}

body {
  margin: 2.25em;
}

a {
  color: var(--red);
}

h1, h2, h3 {
  text-wrap: balance;
}

blockquote {
  border-bottom: 1px solid var(--grey);
  border-top: 1px solid var(--grey);
  color: var(--red);
  font-size: 2em;
  font-weight: 600;
  line-height: 1;
  margin: 1em;
  padding: 1em;
  position: relative;
  text-align: center;
  text-wrap: balance;

  &::before,
  &::after {
    background: white;
    height: 0.5em;
    left: calc(50% - 1em);
    line-height: 1;
    position: absolute;
    width: 2em;
  }

  &::before {
    content: "”";
    top: -0.25em;
  }

  &::after {
    bottom: -0.25em;
    content: "“";
  }
}


/* Header, main and footer */

body > nav ul {
  display: flex;
  line-height: 2;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  li {
    list-style: none;

    button {
      appearance: none;
      background: var(--red);
      border: 1px solid var(--red);
      border-radius: 3px;
      box-sizing: content-box;
      color: var(--white);
      cursor: pointer;
      display: block;
      font-weight: 700;
      line-height: 2;
      padding: 0;
      text-transform: uppercase;
      width: 7rem;
    }
  }

  #home {
    margin: -0.75em auto 0 0;

    a {
      background: url(images/logo-red.svg) left content-box no-repeat;
      display: block;
      font-size: 0;
      height: 5rem;
      width: 8rem;
    }
  }

  #products {
    color: var(--red);

    &::after {
      content: "\f078";
      font-family: ForkAwesome;
      line-height: 1;
    }

    &:hover {
      dl {
        display: block;
      }
    }

    dl {
      background:
        linear-gradient(-20deg, #fff8, white) padding-box,
        linear-gradient(-45deg, var(--white), #ededed88) border-box;
      border: 2px solid transparent;
      border-radius: 5px;
      box-shadow: 0 2px 0 color(from var(--red) srgb r g b / 0.2);
      display: none;
      line-height: 1.4;
      padding: 1em;
      position: absolute;
      text-align: left;
      transform: translateX(-25%);
      width: 200%;
      z-index: 1;

      dd {
        border-bottom: 1px solid color(from var(--red) srgb r g b / 0.2);
        color: var(--grey);
        font-size: 0.8em;
        font-weight: 400;
        margin: 0 0 0.5em 0;
        padding: 0 2em 0.5em 0;
        position: relative;

        &::after {
          bottom: 0.5em;
          color: var(--red);
          content: "\f178";
          display: block;
          font-family: ForkAwesome;
          position: absolute;
          right: 0;
          transform: rotate(-45deg);
        }

        &:last-of-type {
          border: none;
          padding-bottom: 0;
        }
      }
    }
  }

  #github {
    border: 1px solid var(--grey);
    border-radius: 3px;
    font-size: 0;
    height: 1.5rem;
    margin: 0 0.5rem 0 auto;

    a::before {
      color: var(--black);
      content: "\f09b";
      display: block;
      font-family: ForkAwesome;
      font-size: 1rem;
      line-height: 1.5;
      text-align: center;
      width: 1.5rem;
    }
  }

  #products, #blog, #about {
    font-size: 0.8em;
    font-weight: 600;
    position: relative;
    text-align: center;
    width: 7rem;
  }
}

header {
  background: url(images/header.svg) color(from var(--red) srgb r g b / 0.2);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em 0 1em 0;
  min-height: 30em;
  padding: 0.5em 20%;
  position: relative;
  text-align: center;

  h1 {
    color: var(--red);
    font-size: 3.2em;
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 0.85;
    margin-top: 1.2em;
    text-transform: uppercase;
    text-wrap: balance;
  }

  p {
    margin: 0.5rem auto;
    max-width: 35em;
  }

  &:has(.catchphrase) {
    h1 {
      font-size: 1rem;
      font-weight: 100;
      left: 0;
      position: absolute;
      text-transform: uppercase;
      top: 0.5em;
      width: 100%;
    }

    .catchphrase {
      color: var(--red);
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}

main {
  max-width: 70em;
  margin: 0 auto;

  section {
    h2 {
      font-size: inherit;
      font-weight: 100;
      text-transform: uppercase;
      margin: 4em 0 2em 0;
    }

    h3 {
      font-size: inherit;
      font-weight: 100;
      margin: 2em 0 1em;
    }
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;

  h2 {
    display: none;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  ul {
    padding: 0;

    li {
      list-style: none;
    }
  }

  section {
    width: 25%;

    &:last-of-type {
      color: var(--grey);
      width: 100%;

      ul {
        display: flex;

        li {
          width: 25%;
        }
      }
    }
  }
}


/* Modal */

dialog {
  background: var(--red);
  border: none;
  border-radius: 0.5em;
  padding: 1em;

  h2 {
    font-size: 1.4em;
    font-weight: 100;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
  }

  button[popovertargetaction="hide"] {
    position: absolute;
    top: 0;
    right: 0;

    &::after {
      content: "lol";
    }
  }

  form {
    label {
      color: var(--white);
      display: block;
      margin: 0.5em 0;

      input, textarea {
        appearance: none;
        background: color(from var(--red) srgb r g b / 0.2);
        border: none;
        border-radius: 3px;
        display: block;
        font: inherit;
        text: var(--black);
      }
    }

    button {
      appearance: none;
      background: var(--white);
      border: none;
      border-radius: 3px;
      bottom: 1.25rem;
      color: var(--red);
      height: 2rem;
      position: absolute;
      right: 1.25rem;
      width: 5rem;
    }
  }

  p {
    color: var(--white);
    font-size: 0.8em;
    padding-right: 6rem;

    a {
      color: inherit;
    }
  }
}


/* Classes */

.tags {
  background: color(from var(--red) srgb r g b / 0.1);
  border-radius: 2em;
  display: flex;
  font-size: 0.75em;
  gap: 1em;
  justify-content: center;
  margin: 3em auto 0;
  padding: 0.75em;

  li {
    display: block;
    padding: 0;
    text-transform: uppercase;

    a {
      border: 0.1em solid;
      border-radius: 2em;
      color: var(--red);
      display: block;
      line-height: 1;
      text-decoration: inherit;
      padding: 0.4em 2em 0.25em;
    }
  }
}

.catchphrase {
  font-size: 3.2em;
  letter-spacing: -0.02em;
  line-height: 0.85;
  margin-top: 1.2em;
  text-wrap: balance;
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5em;
  margin: 2em;
  padding: 0;
}

.sponsors li {
  align-items: center;
  display: flex;
  font-size: 0;
}

.sponsors.gold img {
  max-height: 150px;
  max-width: min(450px, 80vw);
}

.sponsors.silver img {
  max-height: 100px;
  max-width: min(300px, 80vw);
}

.sponsors.bronze img {
  max-height: 50px;
  max-width: min(150px, 80vw);
}

.icon::before {
  font-family: ForkAwesome;
  line-height: 1;
  margin-right: 1ch;
}

.github a::before {
  content: "\f09b";
}

.web a::before {
  content: "\f0ac";
}

.doc a::before {
  content: "\f02d";
}

.gitter a::before {
  content: "\f086";
}

.report a::before {
  content: "\f15c";
}

.twitter a::before {
  content: "\f099";
}

.mastodon a::before {
  content: "\f2e1";
}

.linkedin a::before {
  content: "\f0e1";
}

.opencollective a::before {
  content: "\f336";
}

.talks a::before {
  content: "\f130";
}

.link a::before {
  content: "\f0c1";
}

.star::before {
  content: "\f006";
}

.people::before {
  content: "\f0c0";
}

.gnu::before {
  content: "\f34d";
}

.user::before {
  content: "\f007";
}

.heartbeat::before {
  content: "\f21e";
}


/* Team page */

#page-index {
  header {
    background: none;

    h1 {
      font-size: 0;
      margin-bottom: -2rem;
      position: static;

      &::before {
        background: url(images/bubbles.svg) center no-repeat;
        content: "";
        display: block;
        height: 5rem;
        margin: auto;
        width: 2.5rem;
      }
    }
  }

  main {
    section {
      h2 {
        text-align: center;
      }

      .catchphrase {
        margin: auto;
        max-width: 12em;
        text-align: center;
      }

      .carrousel {
        background: white;
        border-radius: 0.5em;
        box-shadow: 0.25em 0.25em 1em color(from var(--red) srgb r g b / 0.3);
        margin: 2em 0;
        overflow-x: scroll;
        position: relative;
        scroll-snap-type: x mandatory;
        width: 100%;

        div {
          display: flex;
          width: 300%;

          article {
            box-sizing: border-box;
            padding: 2em;
            scroll-snap-align: start;
            width: 100%;

            h3 {
              color: var(--red);
              font-size: 2.2em;
              font-weight: 600;
              line-height: 1;
              margin: 0.25em 0;
            }
          }
        }

        nav {
          font-size: 0.75em;
          left: 0;
          position: sticky;
          width: 100%;

          .tags {
            background: none;
            border-radius: 0;
            border-top: 1px solid var(--grey);
            margin: 0 2em;

            a {
              color: var(--darkgrey);
              margin: 1em 0;
            }
          }
        }
      }

      &#trusted {
        ul {
          display: flex;
          justify-content: center;
          gap: 2rem;
          font-size: 0;
          margin: 2rem;

          li {
            margin: 0;

            img {
              height: 5rem;
              object-fit: contain;
              filter: grayscale(100%) opacity(70%);
              transition: filter 1s;
              width: 5rem;

              &:hover {
                filter: none;
              }
            }
          }
        }
      }

      &#use {
        background: url(images/header.svg) color(from var(--red) srgb r g b / 0.2);
        border-radius: 0.5em;
        margin: 4em 0;
        padding: 2em 4em;
      }

      &#opensource {
        p {
          margin: 1em auto;
          max-width: 30rem;
          text-align: center;
          text-wrap: balance;
        }

        dl {
          display: grid;
          font-size: 0.75em;
          gap: 0.5em 4em;
          grid: auto-flow / 1fr 1fr 1fr;
          max-width: 60em;
          margin: 4em auto;

          dt {
            font-weight: 700;
            grid-row: 1;

            &::before {
              color: var(--red);
              display: block;
              font-size: 1.3em;
              font-weight: 500;
              margin: 0.25em 0;
            }
          }

          dd {
            grid-row: 2;
            margin: 0;
          }
        }
      }

      &#experience {
        background: url(images/header.svg) color(from var(--blue) srgb r g b / 0.2);
        border-radius: 0.5em;
        margin: 4em 0;
        padding: 2em 4em;

        .carrousel {
          background: none;
          box-shadow: none;
          font-size: 0.75em;
          margin-top: 4em;

          div {
            width: fit-content;

            figure {
              margin: 0.5em;
              width: 30em;

              blockquote {
                background: white;
                border: none;
                color: inherit;
                font-weight: inherit;
                margin: 0;
                text-align: left;

                &::before,
                &::after {
                  content: none;
                }
              }

              figcaption {
                background: white;
                margin-top: 1em;
                padding: 1em;
                width: 50%;
              }
            }
          }
        }
      }

      &#support {
        background: var(--red);
        border-radius: 0.5em;
        margin: 4em auto;
        max-width: 20em;
        padding: 2em 4em;

        h2 {
          margin: 0 0 0.5em;
        }

        button {
          appearance: none;
          background: white;
          border: none;
          border-radius: 3px;
          color: var(--red);
          display: block;
          margin: 3em auto 0;
          padding: 0.5em 2em;
          text-transform: uppercase;
        }

        ul {
          list-style: circle;

          ::marker {
            color: white;
            font-size: 2em;
            font-weight: 900;
            line-height: 1;
          }
        }
      }
    }
  }
}


/* Team page */

#page-team {
  h2 {
    text-align: center;
  }

  #why {
    border-bottom: 1px solid var(--grey);
    border-top: 1px solid var(--grey);
    columns: 2;
    gap: 5em;
    padding: 2em 0;

    h2 {
      column-span: all;
      text-align: left;
    }

    p {
      font-size: 1.5em;
      line-height: 1.2;
    }

    img {
      background: lightgray;
      border-radius: 0.5em;
      break-before: column;
      display: block;
      height: 15em;
      width: 100%;
    }

    dl {
      font-size: 0.85em;
      margin: 5em 0 2em;

      dt {
        font-weight: 700;

        &:not(:first-of-type) {
          margin-top: 2em;
        }
      }

      dd {
        margin: 0;

        a {
          color: inherit;
          text-decoration: inherit;
        }
      }
    }

    > a {
      border: 1px solid;
      border-radius: 3px;
      font-size: 0.85em;
      font-weight: 600;
      padding: 0.5em;
      text-decoration: inherit;
      text-transform: uppercase;
    }
  }

  #open {
    text-align: center;

    > p {
      margin: 1.2rem auto;
      max-width: 50rem;
      text-wrap: balance;

      &:not(.catchphrase) {
        font-size: 1.5em;
      }
    }

    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > a {
        color: inherit;
        margin-top: 3rem;
        text-decoration: inherit;
        width: 25%;
      }

      article {
        display: flex;
        flex-direction: column;
        font-size: 0.85em;
        height: 100%;
        padding-right: 10%;
        text-align: left;

        h3 {
          margin: 0;
        }

        span {
          color: var(--red);
          margin-top: auto;
        }
      }
    }
  }
}


/* Blog page */

#page-blog {
  header {
    background: none;
  }

  main {
    article {
      border-bottom: 1px solid var(--grey);
      font-size: 0.85em;
      overflow: auto;
      padding: 2em 0 2em 10em;

      img {
        border-radius: 0.5em;
        float: left;
        height: 9em;
        margin-left: -10em;
        object-fit: contain;
        width: 9em;
      }

      aside {
        color: var(--darkgrey);

        .tags {
          background: none;
          display: inline-flex;
          vertical-align: 20%;
          margin: 0;
        }
      }

      h2 {
        font-size: 2.2em;
        font-weight: 600;
        line-height: 1;
        margin: 0.25em 0;

        a {
          text-decoration: inherit;
        }
      }
    }
  }
}

#page-article {
  img {
    max-width: 80%;
    margin: auto;
  }

  figure {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 3em auto;

    img {
      margin: 0;
    }

    figcaption {
      color: var(--darkgrey);
      font: Inconsolata;
      width: 35%;
    }
  }

  .highlight {
    background: color(from var(--red) srgb r g b / 0.1);
    border-radius: 0.5em;
    font-family: Inconsolata;
    padding: 1em 2em;
  }
}


/* Pygments */

.hll { background-color: #ffffcc }
.c { color: #408080 } /* Comment */
.k { color: #008000 } /* Keyword */
.o { color: #666666 } /* Operator */
.ch { color: #408080 } /* Comment.Hashbang */
.cm { color: #408080 } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.cpf { color: #408080 } /* Comment.PreprocFile */
.c1 { color: #408080 } /* Comment.Single */
.cs { color: #408080 } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080 } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #000080 } /* Generic.Prompt */
.gu { color: #800080 } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #008000 } /* Keyword.Constant */
.kd { color: #008000 } /* Keyword.Declaration */
.kn { color: #008000 } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000 } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999 } /* Name.Entity */
.ne { color: #D2413A } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF } /* Name.Namespace */
.nt { color: #008000 } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mb { color: #666666 } /* Literal.Number.Bin */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sa { color: #BA2121 } /* Literal.String.Affix */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.dl { color: #BA2121 } /* Literal.String.Delimiter */
.sd { color: #BA2121 } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622 } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688 } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.fm { color: #0000FF } /* Name.Function.Magic */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.vm { color: #19177C } /* Name.Variable.Magic */
.il { color: #666666 } /* Literal.Number.Integer.Long */
