/* Fonts */

@font-face {
  font-family: ClarityCity;
  font-weight: 100;
  src: local("ClarityCity Thin"), local("ClarityCity-Thin"), url(/static/fonts/ClarityCity-Thin.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-weight: 400;
  src: local("ClarityCity Regular"), local("ClarityCity-Regular"), url(/static/fonts/ClarityCity-Regular.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-weight: 600;
  src: local("ClarityCity SemiBold"), local("ClarityCity-SemiBold"), url(/static/fonts/ClarityCity-SemiBold.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-weight: 700;
  src: local("ClarityCity Bold"), local("ClarityCity-Bold"), url(/static/fonts/ClarityCity-Bold.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-style: italic;
  font-weight: 400;
  src: local("ClarityCity RegularItalic"), local("ClarityCity-RegularItalic"), url(/static/fonts/ClarityCity-RegularItalic.woff2);
}

@font-face {
  font-family: Inconsolata;
  src: local("Inconsolata"), url(/static/fonts/Inconsolata-Regular.woff2);
}

@font-face {
  font-family: ForkAwesome;
  src: local("ForkAwesome"), url(/static/fonts/forkawesome-webfont.woff2);
}


/* Variables */

:root {
  --black: #210908;
  --grey: #c5c5c5;
  --red: #e8403a;
  --white: #fff;
}


/* Common tags */

html {
  background: var(--white);
  color: var(--black);
  font-family: ClarityCity, sans-serif;
  font-size: 14pt;
  line-height: 1.4;
}

body {
  margin: 0;
}

a {
  color: var(--red);
}

/* Header and footer */

body > nav ul {
  display: flex;
  margin: 0;
  padding: 0 1rem;

  a {
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  li {
    list-style: none;
    margin-top: 1.5rem;

    button {
      appearance: none;
      background: var(--red);
      border: 1px solid var(--red);
      border-radius: 3px;
      box-sizing: content-box;
      color: var(--white);
      cursor: pointer;
      min-height: 1.5rem;
      padding: 0;
      text-transform: uppercase;
      width: 7rem;
    }
  }

  #home {
    margin: 0 auto 0 0;

    a {
      background: url(images/logo-red.svg) left content-box no-repeat;
      display: block;
      font-size: 0;
      height: 5rem;
      padding: 0.5rem;
      width: 8rem;
    }
  }

  #products {
    color: var(--red);

    &::after {
      content: "\f078";
      font-family: ForkAwesome;
      line-height: 1;
    }

    &:hover {
      dl {
        display: block;
      }
    }

    dl {
      background:
        linear-gradient(-20deg, #fff8, white) padding-box,
        linear-gradient(-45deg, var(--white), #ededed88) border-box;
      border: 2px solid transparent;
      border-radius: 5px;
      box-shadow: 0 2px 0 color(from var(--red) srgb r g b / 0.2);
      display: none;
      padding: 1em;
      position: absolute;
      text-align: left;
      transform: translateX(-25%);
      width: 200%;

      dd {
        border-bottom: 1px solid color(from var(--red) srgb r g b / 0.2);
        color: var(--grey);
        font-size: 0.8em;
        font-weight: normal;
        margin: 0 0 0.5em 0;
        padding: 0 2em 0.5em 0;
        position: relative;

        &::after {
          bottom: 0.5em;
          color: var(--red);
          content: "\f178";
          display: block;
          font-family: ForkAwesome;
          position: absolute;
          right: 0;
          transform: rotate(-45deg);
        }

        &:last-of-type {
          border: none;
          padding-bottom: 0;
        }
      }
    }
  }

  #github {
    border: 1px solid var(--grey);
    border-radius: 3px;
    font-size: 0;
    height: 1.5rem;
    margin: 1.5rem 0.5rem 0 auto;

    a::before {
      color: var(--black);
      content: "\f09b";
      display: block;
      font-family: ForkAwesome;
      font-size: 1rem;
      text-align: center;
      width: 1.5rem;
    }
  }

  #products, #blog, #about {
    font-size: 0.8em;
    font-weight: 600;
    position: relative;
    text-align: center;
    width: 7rem;
  }
}

footer {
  display: flex;
  flex-wrap: wrap;

  h2 {
    display: none;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  li {
    list-style: none;
  }

  section {
    width: 25%;

    &:last-of-type {
      color: var(--grey);
      width: 100%;

      ul {
        display: flex;
        gap: 1rem;
      }
    }
  }
}


/* Modal */

dialog {
  background: var(--red);
  border: none;
  border-radius: 0.5em;
  padding: 1em;

  h2 {
    font-size: 1.4em;
    font-weight: 100;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
  }

  button[popovertargetaction="hide"] {
    position: absolute;
    top: 0;
    right: 0;

    &::after {
      content: "lol";
    }
  }

  form {
    label {
      color: var(--white);
      display: block;
      margin: 0.5em 0;

      input, textarea {
        appearance: none;
        background: color(from var(--red) srgb r g b / 0.2);
        border: none;
        border-radius: 3px;
        display: block;
        font: inherit;
        text: var(--black);
      }
    }

    button {
      appearance: none;
      background: var(--white);
      border: none;
      border-radius: 3px;
      bottom: 1.25rem;
      color: var(--red);
      height: 2rem;
      position: absolute;
      right: 1.25rem;
      width: 5rem;
    }
  }

  p {
    color: var(--white);
    font-size: 0.8em;
    padding-right: 6rem;

    a {
      color: inherit;
    }
  }
}



.sponsors li {
  align-items: center;
  display: flex;
  font-size: 0;
}

.sponsors.gold img {
  max-height: 150px;
  max-width: min(450px, 80vw);
}

.sponsors.silver img {
  max-height: 100px;
  max-width: min(300px, 80vw);
}

.sponsors.bronze img {
  max-height: 50px;
  max-width: min(150px, 80vw);
}


.github a::before {
  content: "\f09b";
}

.web a::before {
  content: "\f0ac";
}

.doc a::before {
  content: "\f02d";
}

.gitter a::before {
  content: "\f086";
}

.report a::before {
  content: "\f15c";
}

.twitter a::before {
  content: "\f099";
}

.mastodon a::before {
  content: "\f2e1";
}

.linkedin a::before {
  content: "\f0e1";
}

.opencollective a::before {
  content: "\f336";
}

.talks a::before {
  content: "\f130";
}

.link a::before {
  content: "\f0c1";
}


/* Pygments */

.hll { background-color: #ffffcc }
.c { color: #408080 } /* Comment */
.k { color: #008000 } /* Keyword */
.o { color: #666666 } /* Operator */
.ch { color: #408080 } /* Comment.Hashbang */
.cm { color: #408080 } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.cpf { color: #408080 } /* Comment.PreprocFile */
.c1 { color: #408080 } /* Comment.Single */
.cs { color: #408080 } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080 } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #000080 } /* Generic.Prompt */
.gu { color: #800080 } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #008000 } /* Keyword.Constant */
.kd { color: #008000 } /* Keyword.Declaration */
.kn { color: #008000 } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000 } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999 } /* Name.Entity */
.ne { color: #D2413A } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF } /* Name.Namespace */
.nt { color: #008000 } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mb { color: #666666 } /* Literal.Number.Bin */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sa { color: #BA2121 } /* Literal.String.Affix */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.dl { color: #BA2121 } /* Literal.String.Delimiter */
.sd { color: #BA2121 } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622 } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688 } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.fm { color: #0000FF } /* Name.Function.Magic */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.vm { color: #19177C } /* Name.Variable.Magic */
.il { color: #666666 } /* Literal.Number.Integer.Long */
