#versions {
  li {
    display: none;
    line-height: 2;

    a {
      color: var(--white);
    }
  }

  &:hover li,
  li.current {
    display: block;
  }

  li.current a {
    text-decoration: underline;
  }

  .sidebar-sticky & {
    border-top: 1px solid var(--color-sidebar-search-border);
    margin: 0;
    padding: var(--sidebar-item-spacing-vertical) var(--sidebar-item-spacing-horizontal);
  }

  .wy-nav-side & {
    background: white;
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
