<html lang="en">
  <head>
    <title>CourtBouillon</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="alternate" type="application/rss+xml" title="CourtBouillon Blog" href="{{ url_for('rss') }}" />
  </head>
  <body id="page-{{ request.args.page or request.endpoint }}">
    <header>
      <h1><a href="{{ url_for('page', page='index') }}">CourtBouillon</a></h1>
      <p>Authentic Code Growers</p>

      <nav>
        <ul>
          <li><a href="#content">Content</a></li>
          <li><a href="{{ url_for('page', page='index') }}">Home</a></li>
          <li><a href="{{ url_for('page', page='projects') }}">Projects</a></li>
          <li><a href="{{ url_for('page', page='team') }}">Team</a></li>
          <li><a href="{{ url_for('blog') }}">Blog</a></li>
          <li><a href="{{ url_for('page', page='support') }}">Support</a></li>
          <li><a href="">Donate</a></li>
        </ul>
      </nav>
    </header>

    <main id="content">
      {% block content %}{% endblock content %}
    </main>

    <footer>
      <section>
        <h2>Contact</h2>
        <ul>
          <li><a href="mailto:contact&#64;courtbouillon.org">Mail</a></li>
          <li><a href="https://gitter.im/CourtBouillon">Chat</a></li>
        </ul>
      </section>

      <section>
        <h2>Follow Us</h2>
        <ul>
          <li><a href="https://twitter.com/BouillonCourt">Twitter</a></li>
          <li><a href="https://github.com/CourtBouillon">GitHub</a></li>
          <li><a href="{{ url_for('rss') }}">RSS</a></li>
        </ul>
      </section>

      <section>
        <h2>About Us</h2>
        <ul>
          <li><a href="{{ url_for('page', page='team') }}">Team</a></li>
          <li><a href="{{ url_for('page', page='legal') }}">Legal Notice</a></li>
          <li><a href="{{ url_for('page', page='code-of-conduct') }}">Code of Conduct</a></li>
          <li><a href="">Donate</a></li>
        </ul>
      </section>
    </footer>
  </body>
</html>
