<section>
  <h3>Professional Support</h3>
  <p>
    If you want to improve your experience with our tools, we can provide
    professional support, including:
  </p>
  <ul>
    <li>fix bugs,</li>
    <li>add new features,</li>
    <li>improve your skills with our projects and related technologies.</li>
  </ul>
  <p>
    Please send a mail to
    <a href="mailto:contact&#64;courtbouillon.org">contact&#64;courtbouillon.org</a>
    to describe your needs and get an estimate of the work needed to solve
    your problem.
  </p>
</section>

<section>
  <h3>Community</h3>
  <p>
    You can come and talk with us on our
    <a href="https://gitter.im/CourtBouillon">Gitter page</a>
    and you can follow us on
    <a href="https://twitter.com/BouillonCourt">Twitter</a>.
  </p>
</section>
