{% set title = 'Authentic people growing open source code with taste' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <article id="projects">
    <h2>Projects</h2>
    <p class="presentation">
      CourtBouillon conceives high-quality apps and tools to help you give life
      to elegant documents, wonderful images, lovely texts, and more.
    </p>
    <dl>
      <dt data-project="weasyprint"><a href="{{ url_for('page', page='weasyprint') }}">WeasyPrint</a></dt>
      <dd>the awesome document factory</dd>
      <dt data-project="cairosvg"><a href="{{ url_for('page', page='cairosvg') }}">CairoSVG</a></dt>
      <dd>convert your vector images</dd>
      <dt data-project="tinycss2"><a href="{{ url_for('page', page='tinycss2') }}">tinycss2</a></dt>
      <dd>a tiny CSS parser</dd>
      <dt data-project="pydyf"><a href="{{ url_for('page', page='pydyf') }}">pydyf</a></dt>
      <dd>a low-level PDF creator</dd>
      <dt data-project="pyphen"><a href="{{ url_for('page', page='pyphen') }}">Pyphen</a></dt>
      <dd>hy-phen-ation made easy</dd>
      <dt data-project="others"><a href="{{ url_for('page', page='projects') }}">and many more…</a></dt>
      <dd>discover all the projects we take care of</dd>
    </dl>
  </article>

  <article id="sponsors">
    <h2>Sponsorship</h2>
    <p>
      With donations and sponsorship, you help the projects to be better.
      Donations allow the CourtBouillon team to have more time dedicated to add
      new features, fix bugs, and improve documentation.
    </p>
    <p class="button">
      <a href="https://opencollective.com/courtbouillon">Become a Sponsor</a>
    </p>

    <section>
      <h3>Gold Sponsors</h3>
      <ul class="sponsors gold">
        <li><a href="https://www.spacinov.com" title="Spacinov">
          Spacinov
          <img alt="Spacinov logo" src="{{ url_for('static', filename='images/sponsor-spacinov.png') }}" />
        </a></li>
      </ul>
      <h3>Silver Sponsors</h3>
      <ul class="sponsors silver">
        <li><a href="https://www.kobalt.fr/" title="Kobalt">
          Kobalt
          <img alt="Kobalt logo" src="{{ url_for('static', filename='images/sponsor-kobalt.png') }}" />
        </a></li>
        <li><a href="https://wakatime.com/" title="WakaTime">
          Crisp
          <img alt="WakaTime logo" src="{{ url_for('static', filename='images/sponsor-wakatime.svg') }}" />
        </a></li>
      </ul>
      <h3>Bronze Sponsors</h3>
      <ul class="sponsors bronze">
        <li><a href="https://getgrip.de/" title="Grip Angebotssoftware">
          Grip Angebotssoftware
          <img alt="Grip Angebotssoftware logo" src="{{ url_for('static', filename='images/sponsor-grip.png') }}" />
        </a></li>
        <li><a href="https://www.simonsoft.se/" title="Simonsoft">
          Simonsoft
          <img alt="SimonSoft logo" src="{{ url_for('static', filename='images/sponsor-simonsoft.png') }}" />
        </a></li>
        <li><a href="https://menutech.com/" title="Menutech">
          Menutech
          <img alt="Menutech logo" src="{{ url_for('static', filename='images/sponsor-menutech.svg') }}" />
        </a></li>
        <li><a href="https://gitlab.com/mbarkhau" title="Manuel Barkhau">
          Manuel Barkhau
          <img alt="Manuel Barkhau logo" src="{{ url_for('static', filename='images/sponsor-mbarkhau.png') }}" />
        </a></li>
        <li><a href="https://kontextwork.de" title="KontextWork">
          KontextWork
          <img alt="KontextWork logo" src="{{ url_for('static', filename='images/sponsor-kontextwork.png') }}" />
        </a></li>
        <li><a href="https://colorcube.de" title="René Fritz">
          Colorcube
          <img alt="Colorcube logo" src="{{ url_for('static', filename='images/sponsor-renefritz.webp') }}" />
        </a></li>
        <li><a href="https://www.nccgroup.com/" title="NCC Group">
          NCC Group
          <img alt="NCC Group logo" src="{{ url_for('static', filename='images/sponsor-nccgroup.jpg') }}" />
        </a></li>
        <li><a href="https://healthchecks.io/" title="Healthchecks.io">
            Healthchecks.io
            <img alt="Healthchecks.io logo" src="{{ url_for('static', filename='images/sponsor-healthchecks.jpg') }}" />
        </a></li>
        <li><a href="https://www.trainingsparkle.com/" title="Training Sparkle">
            TrainingSparkle
            <img alt="TrainingSparkle logo" src="{{ url_for('static', filename='images/sponsor-trainingsparkle.png') }}" />
        </a></li>
        <li><a href="https://hammerbacher.com/" title="Hammerbacher GmbH">
            Hammerbacher GmbH
            <img alt="Hammerbacher GmbH logo" src="{{ url_for('static', filename='images/sponsor-hammerbacher.svg') }}" />
        </a></li>
        <li><a href="https://synapsium.com/" title="Synapsium">
            Synapsium
            <img alt="Synapsium logo" src="{{ url_for('static', filename='images/sponsor-synapsium.png') }}" />
        </a></li>
      </ul>
    </section>
  </article>

  <article id="support">
    <h2>Professional Support</h2>
    <p>
      You can improve your experience with CourtBouillon’s tools thanks to our
      professional support.
    </p>
    <ul>
      <li>
        A bug is driving you crazy and you want it to be fixed as soon as possible?
      </li>
      <li>
        Your documents are nice, but a new feature would make them awesome?
      </li>
      <li>
        You have a sweet design, but need help to convert it in HTML/CSS template?
      </li>
    </ul>
    <p>
      Please contact us by
      <a title="contact&#64;courtbouillon.org" href="mailto:contact&#64;courtbouillon.org">mail</a>,
      by <a title="CourtBouillon" href="https://matrix.to/#/#CourtBouillon_community:gitter.im">chat</a> or
      by <a title="@BouillonCourt" href="https://twitter.com/BouillonCourt">tweet</a>
      to get in touch, we’ll be happy to find the best way to help you!
    </p>
    <p class="button">
      <a href="mailto:contact&#64;courtbouillon.org">Contact Us!</a>
    </p>
  </article>

  <article id="testimonials">
    <h2>Why Us?</h2>
    <figure>
      <blockquote>
        Professional, kind and exceedingly talented, CourtBouillon have been a pleasure to work with from day one.
        They implemented the design of a complex PDF template for us and made it look easy, with every pixel laid out to perfection.
        We're also grateful for the massive and generous contribution they make to the open source community, and rely heavily on their amazing PDF library – WeasyPrint.
        We couldn’t recommend CourtBouillon highly enough and look forward to collaborating on many more projects in the future.
        </blockquote>
      <figcaption><a href="https://codeandco.com">Code & Co.</a></figcaption>
    </figure>
    <figure>
      <blockquote>
        Hiring CourtBouillon enabled the upgrade of an antiquated PDF production workflow to a new modern
        process taking advantage of the new possibilities of modern HTML and CSS for print media using the
        open-source tool WeasyPrint. Not only did their expertise and talents result in beautiful PDFs, the
        well organized and commented CSS code they delivered helped upgrade my own knowledge to these new
        possibilities and best practices of CSS. CourtBouillon is highly recommended. They are talented
        experts in this area and they invest time improving the open-source package WeasyPrint that
        makes this all possible.
      </blockquote>
      <figcaption><a href="https://popgen.es/">Castedo Ellerman</a></figcaption>
    </figure>
    <figure>
      <blockquote>
        After happily using WeasyPrint for quite a time, we needed a new feature. CourtBouillon have been
        very professional and transparent. It has been a real pleasure to work with them! We’re also
        thankful for all their work on WeasyPrint and in the open source community in general.
      </blockquote>
      <figcaption><a href="https://personalkollen.se">Personalkollen</a></figcaption>
    </figure>
    <p class="button">
      <a href="mailto:contact&#64;courtbouillon.org">Contact Us!</a>
    </p>
  </article>
{% endblock content %}
