{% extends '_layout.jinja2' %}

{% block content %}
  <p>
    CourtBouillon is a group of authentic people growing authentic free and
    open source code, with love and some programming skills.
  </p>

  <article>
    <h2>Projects</h2>
    <dl>
      <dt><a href="{{ url_for('page', page='projects/weasyprint') }}">WeasyPrint</a></dt>
      <dd>the awesome document factory</dd>
      <dt><a href="{{ url_for('page', page='projects/cairosvg') }}">CairoSVG</a></dt>
      <dd>convert your vector images</dd>
      <dt><a href="{{ url_for('page', page='projects/tinycss2') }}">tinycss2</a></dt>
      <dd>a tiny CSS parser</dd>
      <dt><a href="{{ url_for('page', page='projects/pydyf') }}">pydyf</a></dt>
      <dd>a low-level PDF creator</dd>
      <dt><a href="{{ url_for('page', page='projects/pyphen') }}">Pyphen</a></dt>
      <dd>hy-phen-ation made easy</dd>
      <dt><a href="{{ url_for('page', page='projects') }}">and many more</a></dt>
      <dd>let’s discover all the other projects we take care of</dd>
    </dl>
  </article>

  <article>
    <h2>Support</h2>

    <section>
      <h3>Professional Support</h3>
      <p>
        If you want to improve your experience with our libraries, we can provide
        professional support regarding:
      </p>
      <ul>
        <li>fixing bugs,</li>
        <li>adding new features,</li>
        <li>helping to create documents, stylesheets, vector images…</li>
      </ul>
      <p>
        Please send a mail to
        <a href="mailto:contact&#64;courtbouillon.org">contact&#64;courtbouillon.org</a>
        to describe your needs and get an estimate of the work needed to solve
        your problem.
      </p>
    </section>

    <section>
      <h3>Contribution</h3>
      <p>
        Our code is free and open source software, meaning that you can improve
        it for yourself and for the community of users. You can get the source
        on GitHub and open pull requests, we’ll be happy to review and merge
        them. Even if you have no programming skills, you can report bugs and
        improve the documentation.
      </p>
    </section>
  </article>

  <article>
    <h2>Sponsor</h2>
    <p>
      With donations and sponsorship, you can participate in improving the
      quality of projects. The donations allow the team to have more time
      developing new features, fixing bugs and improving documentation.
    </p>
    <ul>
      <li><a href="">Make a donation</a></li>
      <li><a href="">Become a sponsor</a></li>
    </ul>
  </article>
{% endblock content %}
