{% set title = 'Authentic people growing open source code with taste' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <article id="projects">
    <h2>Projects</h2>
    <p class="presentation">
      CourtBouillon conceives high-quality apps and tools to help you give life
      to elegant documents, wonderful images, lovely texts, and more.
    </p>
    <dl>
      <dt data-project="weasyprint"><a href="{{ url_for('page', page='weasyprint') }}">WeasyPrint</a></dt>
      <dd>the awesome document factory</dd>
      <dt data-project="cairosvg"><a href="{{ url_for('page', page='cairosvg') }}">CairoSVG</a></dt>
      <dd>convert your vector images</dd>
      <dt data-project="tinycss2"><a href="{{ url_for('page', page='tinycss2') }}">tinycss2</a></dt>
      <dd>a tiny CSS parser</dd>
      <dt data-project="pydyf"><a href="{{ url_for('page', page='pydyf') }}">pydyf</a></dt>
      <dd>a low-level PDF creator</dd>
      <dt data-project="pyphen"><a href="{{ url_for('page', page='pyphen') }}">Pyphen</a></dt>
      <dd>hy-phen-ation made easy</dd>
      <dt data-project="others"><a href="{{ url_for('page', page='projects') }}">and many more…</a></dt>
      <dd>discover all the projects we take care of</dd>
    </dl>
  </article>

  <article>
    <h2>Sponsorship</h2>
    <p>
      With donations and sponsorship, you help the projects to be better.
      Donations allow the CourtBouillon team to have more time dedicated to add
      new features, fix bugs, and improve documentation.
    </p>
    <p class="button">
      <a href="https://opencollective.com/courtbouillon">Become a Sponsor</a>
    </p>

    <section>
      <h3>Bronze Sponsors</h3>
      <ul class="sponsors bronze">
        <li><a href="https://www.simonsoft.se/" title="Simonsoft">
          Simonsoft
          <img src="{{ url_for('static', filename='images/sponsor-simonsoft.png') }}" />
        </a></li>
        <li><a href="https://www.pdfblocks.com/" title="PDF Blocks">
          PDF Blocks
          <img src="{{ url_for('static', filename='images/sponsor-pdfblocks.svg') }}" />
        </a></li>
        <li><a href="https://menutech.com/" title="Menutech">
          Menutech
          <img src="{{ url_for('static', filename='images/sponsor-menutech.svg') }}" />
        </a></li>
        <li><a href="https://gitlab.com/mbarkhau" title="Manuel Barkhau">
            Manuel Barkhau
            <img src="{{ url_for('static', filename='images/sponsor-mbarkhau.png') }}" />
        </a></li>
        <li><a href="https://kontextwork.de" title="KontextWork">
            KontextWork
            <img src="{{ url_for('static', filename='images/sponsor-kontextwork.png') }}" />
        </a></li>
      </ul>
    </section>
  </article>

  <article>
    <h2>Support</h2>
    <p>
      You can improve your experience with CourtBouillon’s tools thanks to our
      professional support. You want bugs fixed as soon as possible? You projects
      would highly benefit from some new features? You or your team would like to
      get new skills with one of the technologies we master?
    </p>
    <p>
      Please contact us by
      <a title="contact&#64;courtbouillon.org" href="mailto:contact&#64;courtbouillon.org">mail</a>,
      by <a title="CourtBouillon" href="https://gitter.im/CourtBouillon">chat</a> or
      by <a title="@BouillonCourt" href="https://twitter.com/BouillonCourt">tweet</a>
      to get in touch and find the best way we can help you.
    </p>
  </article>
{% endblock content %}
