{% set title = 'Legal Notice' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Legal Notice</h2>

    <section>
      <h3>Editor</h3>
      <p>CourtBouillon</p>
      <dl>
        <dt>Email</dt>
        <dd><a href="mailto:contact&#64;courtbouillon.org">contact&#64;courtbouillon.org</a></dd>
        <dt>Legal Form</dt>
        <dd>CourtBouillon is a brand of Elycoop − SCOP SA (Cooperative)</dd>
        <dt>Address</dt>
        <dd>
          <address>
            Elycoop<br />
            Pôle Pixel − Bât. B<br />
            26 rue Émile Decorps<br />
            69100 Villeurbanne
          </address>
        </dd>
        <dt>Directors of Publication</dt>
        <dd>Lucie Anglade and Guillaume Ayoub</dd>
        <dt>Website</dt>
        <dd><a href="https://www.courtbouillon.org/">https://www.courtbouillon.org</a></dd>
      </dl>

      <h3>Hosting</h3>
      <p>
        This website is hosted by Scaleway on a dedicated Dedibox server.
      </p>
      <dl>
        <dt>Address</dt>
        <dd>
          <address>
            Scaleway<br />
            BP 438<br />
            75366 Paris CEDEX 08
          </address>
        </dd>
        <dt>Phone</dt>
        <dd><a href="tel:+33 (0)1 84 13 00 00">+33 (0)1 84 13 00 00</a></dd>
        <dt>Website</dt>
        <dd><a href="https://www.scaleway.com/fr/dedibox/">https://www.scaleway.com</a></dd>
      </dl>

      <h3>Cookies and Visitors Tracking</h3>
      <p>
        No cookie or tracking tool is used :).
      </p>

      <h3>Personal Data</h3>
      <p>
        While you are visiting this website, some data that may be indirectly
        linked to you (your browser user agent) are collected in logs. They
        enable us to check that the website is behaving correctly and are kept
        for 4 weeks.
      </p>
      <p>
        You can ask for reaching, modifying or deleting your data by sending a
        message at
        <a href="mailto:gdpr&#64;courtbouillon.org">gdpr&#64;courtbouillon.org</a>.
      </p>
    </section>
  </article>
{% endblock content %}
