{% set title = 'Linktree' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <main>
  <section>
    <h1>Links of CourtBouillon</h1>

    <p>Authentic people growing open source code with taste</p>

    <ul>
      <li><a class="icon link" href="https://weasyprint.org/">WeasyPrint</a></li>
      <li><a class="icon talks" href="https://github.com/CourtBouillon/presentations">Talks</a></li>
      <li><a class="icon mastodon" href="https://fosstodon.org/@courtbouillon">Mastodon</a></li>
      <li><a class="icon linkedin" href="https://linkedin.com/company/courtbouillon">LinkedIn</a></li>
      <li><a class="icon opencollective" href="https://opencollective.com/courtbouillon">OpenCollective</a></li>
      <li><a class="icon link" href="https://yabz.fr/">Guillaume’s website</a></li>
      <li><a class="icon link" href="https://grewn0uille.fr/">Lucie’s website</a></li>
    </ul>
  </section>
  </main>
{% endblock content %}
