{% set title = 'Linktree' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <a href="{{ url_for('page', page='index') }}"><img src="{{ url_for('static', filename='images/logo-red.svg') }}"></a>
    <h2>CourtBouillon</h2>

    <p>Authentic people growing open source code with taste</p>

    <ul>
      <li class="icons link"><a href="https://weasyprint.org/">WeasyPrint</a></li>
      <li class="icons twitter"><a href="https://x.com/BouillonCourt">Twitter / X</a></li>
      <li class="icons mastodon"><a href="https://fosstodon.org/@courtbouillon">Mastodon</a></li>
      <li class="icons linkedin"><a href="https://linkedin.com/company/courtbouillon">LinkedIn</a></li>
      <li class="icons opencollective"><a href="https://opencollective.com/courtbouillon">OpenCollective</a></li>
      <li class="icons link"><a href="https://yabz.fr/">Guillaume’s website</a></li>
      <li class="icons link"><a href="https://grewn0uille.fr/">Lucie’s website</a></li>
    </ul>
  </article>
{% endblock content %}
