{% set title = 'Message sent' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <header>
    <h1>Message sent</h1>

    <p>Your message has been sent, we’ll get in touch soon!</p>
  </header>
{% endblock content %}
