{% set title = 'Projects' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Projects</h2>

    <nav>
      <ul>
        <li><a href="#weasyprint">WeasyPrint</a></li>
        <li><a href="#cairosvg">CairoSVG</a></li>
        <li><a href="#tinycss2">tinycss2</a></li>
        <li><a href="#pyphen">Pyphen</a></li>
        <li><a href="#pydyf">pydyf</a></li>
        <li><a href="#flask-weasyprint">Flask-WeasyPrint</a></li>
        <li><a href="#cssselect2">cssselect2</a></li>
        <li><a href="#cairocffi">cairocffi</a></li>
      </ul>
    </nav>

    <section id="weasyprint">
      <h3>WeasyPrint</h3>
      <p>
        WeasyPrint is a smart solution helping people to create PDF
        documents. You can generate gorgeous statistical reports, invoices,
        tickets, and anything you want as long as you have some webdesign skills!
      </p>
      <ul class="icons">
        <li class="github"><a href="https://github.com/Kozea/WeasyPrint">Code</a></li>
        <li class="web"><a href="{{ url_for('page', page='weasyprint') }}">Website</a></li>
        <li class="doc"><a href="https://doc.courtbouillon.org/weasyprint">Doc</a></li>
        <li class="gitter"><a href="https://matrix.to/#/#CourtBouillon_WeasyPrint:gitter.im">Chat</a></li>
      </ul>
    </section>

    <section id="cairosvg">
      <h3>CairoSVG</h3>
      <p>
        Rendering vector images is rendering abstract lines, shapes and
        gradients. That’s not an easy job! Hopefully, CairoSVG knows how to
        transform SVG files into common image or document formats: PNG, PDF,
        PS, and even SVG!
      </p>
      <ul class="icons">
        <li class="github"><a href="https://github.com/Kozea/CairoSVG">Code</a></li>
        <li class="web"><a href="{{ url_for('page', page='cairosvg') }}">Website</a></li>
        <li class="doc"><a href="https://cairosvg.org/documentation/">Doc</a></li>
        <li class="gitter"><a href="https://matrix.to/#/#CourtBouillon_CairoSVG:gitter.im">Chat</a></li>
      </ul>
    </section>

    <section id="tinycss2">
      <h3>tinycss2</h3>
      <p>
        All the web developers know the CSS format, but do they really know all
        the subtleties of its syntax? tinycss2 provides a CSS parser that is able
        to extract everything you want from stylesheets.
      </p>
      <ul class="icons">
        <li class="github"><a href="https://github.com/Kozea/tinycss2">Code</a></li>
        <li class="web"><a href="{{ url_for('page', page='tinycss2') }}">Website</a></li>
        <li class="doc"><a href="https://doc.courtbouillon.org/tinycss2">Doc</a></li>
        <li class="gitter"><a href="https://matrix.to/#/#CourtBouillon_tinycss2:gitter.im">Chat</a></li>
      </ul>
    </section>

    <section id="pyphen">
      <h3>Pyphen</h3>
      <p>
        Did you ever wonder where to break words when they’re a bit too long at
        the end of the line? Depending on the language, hyphenation principles
        can be phonetic, etymological, or morphological. Quite complicated…
        Hopefully, Pyphen is there to follow the rules that (almost) nobody wants
        to learn.
      </p>
      <ul class="icons">
        <li class="github"><a href="https://github.com/Kozea/Pyphen">Code</a></li>
        <li class="web"><a href="{{ url_for('page', page='pyphen') }}">Website</a></li>
        <li class="doc"><a href="https://doc.courtbouillon.org/pyphen">Doc</a></li>
        <li class="gitter"><a href="https://matrix.to/#/#CourtBouillon_pyphen:gitter.im">Chat</a></li>
      </ul>
    </section>

    <section id="pydyf">
      <h3>pydyf</h3>
      <p>
        PDF is a very powerful format providing a lot of features. Even if
        graphical libraries often offer a PDF export function, they often miss
        all the interesting possibilities that could be included in the
        format. pydyf gives low-level functions to create the PDF of your
        dreams.
      </p>
      <ul class="icons">
        <li class="github"><a href="https://github.com/CourtBouillon/pydyf">Code</a></li>
        <li class="web"><a href="{{ url_for('page', page='pydyf') }}">Website</a></li>
        <li class="doc"><a href="https://doc.courtbouillon.org/pydyf">Doc</a></li>
        <li class="gitter"><a href="https://matrix.to/#/#CourtBouillon_pydyf:gitter.im">Chat</a></li>
      </ul>
    </section>

    <section id="flask-weasyprint">
      <h3>Flask-WeasyPrint</h3>
      <p>
        Generating documents in websites and web applications is a really
        common need: invoices, customized reports, tickets… Use WeasyPrint
        directly from your Flask applications, and create both web pages and
        PDF documents using the same templates.
      </p>
      <ul class="icons">
        <li class="github"><a href="https://github.com/Kozea/Flask-WeasyPrint">Code</a></li>
        <li class="doc"><a href="https://doc.courtbouillon.org/flask-weasyprint">Doc</a></li>
        <li class="gitter"><a href="https://matrix.to/#/#CourtBouillon_community:gitter.im">Chat</a></li>
      </ul>
    </section>

    <section id="cssselect2">
      <h3>cssselect2</h3>
      <p>
        cssselect2 knows how to find specific tags in HTML and XML using CSS3
        selectors. Very useful if you want to apply custom properties to some
        markup nodes without fighting against complicated XPath requests.
      </p>
      <ul class="icons">
        <li class="github"><a href="https://github.com/Kozea/cssselect2">Code</a></li>
        <li class="doc"><a href="https://doc.courtbouillon.org/cssselect2">Doc</a></li>
        <li class="gitter"><a href="https://matrix.to/#/#CourtBouillon_community:gitter.im">Chat</a></li>
      </ul>
    </section>

    <section id="cairocffi">
      <h3>cairocffi</h3>
      <p>
        Ever wanted to use Cairo, the famous 2D graphics library, from your
        Python applications? cairocffi is the library you want: it is a
        CFFI-based set of Python bindings and object-oriented API for Cairo.
      </p>
      <ul class="icons">
        <li class="github"><a href="https://github.com/Kozea/cairocffi">Code</a></li>
        <li class="doc"><a href="https://doc.courtbouillon.org/cairocffi">Doc</a></li>
        <li class="gitter"><a href="https://matrix.to/#/#CourtBouillon_community:gitter.im">Chat</a></li>
      </ul>
    </section>
  </article>
{% endblock content %}
