{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Projects</h2>

    <section>
      <h3>WeasyPrint</h3>
    </section>

    <section>
      <h3>CairoSVG</h3>
    </section>

    <section>
      <h3>tinycss2</h3>
    </section>

    <section>
      <h3>Pyphen</h3>
    </section>

    <section>
      <h3>pydyf</h3>
    </section>

    <section>
      <h3>Flask-WeasyPrint</h3>
    </section>

    <section>
      <h3>cssselect2</h3>
    </section>

    <section>
      <h3>cairocffi</h3>
    </section>

    <section>
      <h3>WeasyPerf</h3>
    </section>

    <section>
      <h3>WeasySuite</h3>
    </section>
  </article>
{% endblock content %}
