{% set title = 'Pyphen' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <article class="project">
    <h2>Pyphen</h2>
    <aside>
      <ul class="icons">
        <li class="github"><a href="https://github.com/Kozea/Pyphen">Code</a></li>
        <li class="gitter"><a href="https://gitter.im/CourtBouillon/pyphen">Chat</a></li>
      </ul>
    </aside>

    <p class="presentation">
      Did you ever wonder where to break words when they’re a bit too long at
      the end of the line? Depending on the language, hyphenation principles
      can be phonetic, etymological, or morphological. Quite complicated…
      Hopefully, Pyphen is there to follow the rules that (almost) nobody wants
      to learn.
    </p>

    <section>
      <h3>Dictionaries Included</h3>
      <img src="{{ url_for('static', filename='images/dictionary.jpg') }}" />
      <p>
        By default, Pyphen includes
        <a href="https://github.com/Kozea/Pyphen/tree/master/pyphen/dictionaries">the dictionaries distributed by LibreOffice</a>.
        You don’t have to look for dictionaries elsewhere, and deal with
        complicated extra installations. But if you don’t like our
        dictionaries, don’t worry: Pyphen gives you the possibility to use your
        own.
      </p>
    </section>

    <section>
      <h3>Nonstandard Patterns</h3>
      <img src="{{ url_for('static', filename='images/patterns.jpg') }}" />
      <p>
        Because hyphenation is definitely not that easy, because English words
        are not enough to express the world’s diversity, Pyphen handles
        nonstandard hyphenation patterns used in many languages.
      </p>
    </section>

    <section>
      <h3>Faster and Faster</h3>
      <img src="{{ url_for('static', filename='images/speed.jpg') }}" />
      <p>
        When Pyphen is loaded, everything is done to be as fast as
        possible. We’ll take care of remembering the dictionaries and words
        you’ve already used, no need to spend the time twice!
      </p>
    </section>

    <section>
      <h3>100% Pure Python</h3>
      <img src="{{ url_for('static', filename='images/python.jpg') }}" />
      <p>
        Don’t spend your time dealing with extra dependencies and versions
        mismatches… Pyphen is a very small library, written pure Python. That’s
        why it’s easy to install, easy to use, and easy to maintain.
      </p>
    </section>
  </article>
{% endblock content %}
