{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Values</h2>

    <section>
      <h3>Free and Open Source</h3>
      <p>
        We deeply believe that everyone should able to access, modify and share
        software. That’s why the code we write is open, and always will be.
      </p>
    </section>

    <section>
      <h3>Authentic</h3>
      <p>
        The code is written with our heart and we truly want to make it
        accessible, readable and understandable by everyone. Our projects are
        created for real people who have real problems to solve.
      </p>
    </section>

    <section>
      <h3>Essential</h3>
      <p>
        We think that simple issues should only require simple code. Even
        complex problems shouldn’t require complicated code.
      </p>
    </section>
  </article>

  <article>
    <h2>People</h2>
  </article>
{% endblock content %}
