{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Values</h2>

    <section>
      <h3>Free and Open Source</h3>
      <p>
        We deeply believe that everyone should able to access, modify and share
        software. That’s why the code we write is open, and always will be.
      </p>
    </section>

    <section>
      <h3>Authentic</h3>
      <p>
        We write code with our hearts and we truly want to make it accessible,
        readable and understandable by everyone. Our projects are passionately
        dedicated for people who have real-life problems to solve.
      </p>
    </section>

    <section>
      <h3>Essential</h3>
      <p>
        We love simplicity.
      </p>
    </section>
  </article>

  <article>
    <h2>People</h2>

    <section>
      <h3>Lucie <code>@grewn0uille</code></h3>
      <p>
        Software Engineer, 🐍 Python and 🐚 bash coder, 🍲 Food lover. Always
        ready to chat over a drink 🍻 !
      </p>
    </section>

    <section>
      <h3>Guillaume <code>@liZe</code></h3>
      <p>
        Software engineer, 🐍 Python lover, 🐧 Free software creator and 📑
        specifications reader. I’m nice 😀, you can talk to me.
      </p>
    </section>
  </article>
{% endblock content %}
