{% set title = 'tinycss2' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <article class="project">
    <h2>tinycss2</h2>
    <aside>
      <ul class="icons">
        <li class="github"><a href="https://github.com/Kozea/tinycss2">Code</a></li>
        <li class="doc"><a href="https://doc.courtbouillon.org/tinycss2">Doc</a></li>
        <li class="gitter"><a href="https://matrix.to/#/#CourtBouillon_community:gitter.im">Chat</a></li>
      </ul>
    </aside>

    <p class="presentation">
      All the web developers know the CSS format, but do they really know all
      the subtleties of its syntax? tinycss2 provides a CSS parser that is able
      to extract everything you want from stylesheets.
    </p>

    <section>
      <h3>Manipulate your Stylesheets</h3>
      <img src="{{ url_for('static', filename='images/cards.jpg') }}" />
      <p>
        Blocks, units, selectors, comments… Parsing stylesheets gives you
        access to high-level entities that you can manipulate and play
        with. Thanks to the included CSS generator, parsed tokens can also be
        transformed back into clean stylesheet.
      </p>
    </section>

    <section>
      <h3>Based on Latest CSS Standards</h3>
      <img src="{{ url_for('static', filename='images/mountain.jpg') }}" />
      <p>
        CSS is changing fast, specifications constantly evolve without people
        even noticing. Don’t worry: tinycss2 follows the latest syntax
        modifications and gives you a complete state-of-the-art parser.
      </p>
    </section>

    <section>
      <h3>Fully Tested and Cross-Platform</h3>
      <img src="{{ url_for('static', filename='images/beach.jpg') }}" />
      <p>
        Each version of tinycss2 is extensively and automatically tested on
        major platforms (Windows, macOS and Linux).
      </p>
    </section>
  </article>
{% endblock content %}
